﻿
@using Microsoft.AspNetCore.Http
<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">CLIENTES</h3>
    </section>
    <div style="padding: 0em 2em">
        <button class="btn btn-secondary float-right" id="btnADD" onclick="openModal(1)">Agregar +</button>
        <div id="divTabla">
            <table id="tblCliente" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%;">
                <thead>
                    <tr>
                        <th style="width:2%">ID</th>
                        <th style="width:10%">NIT</th>
                        <th style="width:15%">Nombre</th>
                        <th style="width:15%">Apellido</th>
                        <th style="width:20%">Nombre Comercial</th>
                        <th style="width:10%">Direccion</th>
                        <th style="width:15%">Email</th>
                        <th style="width:10%">Telefono</th>
                        <th style="width:8%">Accion</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</section>
<div class="modal fade bd-example-modal-lg" id="myModal" role="dialog" data-target="myModal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtMTitulo"></h4>
            </div>
            <div class="modal-body">
                <div id="divEDITCat" style="display:none">
                    <div class="row" style="display:none">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtIDCliente" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtENombre" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Apellido:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtEApellido" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>NIT:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtENIT" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre Comercial:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtENombreC" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Direccion:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtEDireccion" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Telefono:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtETelefono" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Email:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtEEmail" placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-warning" onclick="EditCliente()">Editar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="divADDCat" style="display:none">
                    <div class="form-group row" style="display: none;">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="txtRowIDCliente">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtANombre" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Apellido:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtAApellido" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>NIT:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtANIT" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre Comercial:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtANombreC" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Direccion:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtADireccion" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Telefono:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtATelefono" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Email:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtAEmail" placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-warning" onclick="ADDCliente()">Agregar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    var jsonResponse;
    $(document).ready(function () {


        var reque = {
            "IDCliente": 0
        };
        $.ajax({
            url: "/Cliente/Load",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono EditCliente", data);
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {

                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
        var jsonClientes = '@Context.Session.GetString("clientes")';
        jsonClientes = jsonClientes.replaceAll('&quot;', '"');
        var lstClientes = JSON.parse(jsonClientes);

        MapeoClientes(lstClientes);

    });
    function MapeoClientes(cat) {
        console.log("MapeoClientes ");
        console.log(cat);
        $('#tblCliente tbody tr').remove();
        //$('#tblBeneficio').DataTable().destroy();

        //var esconderE = " style='display:none;'"
        //var esconderEli = " style='display:none;'"

        var esconderE = "";
        var esconderEli = "";
        //if (BEditar) {
        //    esconderE = "";
        //}
        //if (BEliminar) {
        //    esconderEli = "";
        //}
        var buton = "<button onclick='openModal(2,this)' id='btnEdit' " + esconderE + " class='btn'><i class='fas fa-edit'></i></button><button id='btnDelete' " + esconderEli + " onclick='confirmDeleteCliente(this)' class='btn'><i class='far fa-trash-alt'></i></button>";
        cat.forEach(elementP => {
            var img = "<img src='" + elementP.img + "' class='img-thumbnail' alt='img'>";
            console.log(img);
            $("<tr><td id='tdIDCliente' data-name='tdIDCliente'>" + elementP.IDCliente + "</td><td id='tdNIT' data-name='tdNIT'>" + elementP.NIT + "</td><td id='tdNombre' data-name='tdNombre'>" + elementP.Nombre + "</td><td id='tdApellido' data-name='tdApellido'>" + elementP.Apellido + "</td><td id='tdNombreC' data-name='tdNombreC'>" + elementP.NombreComercial + "</td><td id='tdDireccion' data-name='tdDireccion'>" + elementP.Direccion + "</td><td id='tdEmail' data-name='tdEmail'>" + elementP.Email + "</td><td id='tdTelefono' data-name='tdTelefono'>" + elementP.Telefono + "</td><td>" + buton + "</td>" + "</tr>").appendTo("#tblCliente")

        })
        //$('#tblBeneficio').DataTable().draw();
        $('#tblCliente').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        });
    }
    function openModal(divID, parametro) {

        console.log("Entro a openModal" + divID);
        if (divID == 1) {
            $("#txtMTitulo").html('Agregar nuevo cliente');
            document.getElementById("divADDCat").style.display = "inline";
            document.getElementById("divEDITCat").style.display = "none";
            //document.getElementById("exampleFormControlFile1").value = "";
            //document.getElementById("imgLogoPrev").src = "";
        }
        if (divID == 2) {
            var rowID = parametro.closest("tr").rowIndex;
            console.log("rowID", rowID);
            $("#txtMTitulo").html('Editar cliente');
            document.getElementById("divEDITCat").style.display = "inline";
            document.getElementById("divADDCat").style.display = "none";
            var idcliente = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDCliente").innerHTML;
            var nit = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdNIT").innerHTML;
            var nombre = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdNombre").innerHTML;
            var apellido = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdApellido").innerHTML;
            var nombrec = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdNombreC").innerHTML;
            var email = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdEmail").innerHTML;
            var direccion = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdDireccion").innerHTML;
            var telefono = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdTelefono").innerHTML;

            document.getElementById("txtENIT").value = nit;
            document.getElementById("txtENombre").value = nombre;
            document.getElementById("txtEApellido").value = apellido;
            document.getElementById("txtENombreC").value = nombrec;
            document.getElementById("txtEEmail").value = email;
            document.getElementById("txtIDCliente").value = idcliente;
            document.getElementById("txtEDireccion").value = direccion;
            document.getElementById("txtETelefono").value = telefono;



        }
        $('#myModal').modal('show');

    }
    function ADDCliente() {
        console.log("Entro a ADDCliente");
        var nombre = document.getElementById("txtANombre").value;
        var nombreCom = document.getElementById("txtANombreC").value;
        var apellido = document.getElementById("txtAApellido").value;
        var nit = document.getElementById("txtANIT").value;
        var direccion = document.getElementById("txtADireccion").value;
        var telefono = document.getElementById("txtATelefono").value;
        var email = document.getElementById("txtAEmail").value;

        var reque = {
            "IDCliente": 0, "Nombre": nombre, "Apellido": apellido, "NIT": nit, "NombreComercial": nombreCom, "Direccion": direccion,
            "Telefono": telefono, "Email": email, "IDEmpresa": 0};
        $.ajax({
            url: "/Cliente/ADD",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono ADDRed", data);
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    document.getElementById("txtANombre").value="";
                    document.getElementById("txtANombreC").value = "";
                    document.getElementById("txtAApellido").value = "";
                    document.getElementById("txtANIT").value = "";
                    document.getElementById("txtADireccion").value = "";
                    document.getElementById("txtATelefono").value = "";
                    document.getElementById("txtAEmail").value = "";
                    alert(jsonResponse.Descripcion);
                    MapeoClientes(jsonResponse.Cliente);
                    /*MapeoRedes(jsonResponse.redes);*/
                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

    }
    function EditCliente() {
        console.log("Entro a EditCliente");
        var nombre = document.getElementById("txtENombre").value;
        var nombreCom = document.getElementById("txtENombreC").value;
        var apellido = document.getElementById("txtEApellido").value;
        var nit = document.getElementById("txtENIT").value;
        var direccion = document.getElementById("txtEDireccion").value;
        var telefono = document.getElementById("txtETelefono").value;
        var email = document.getElementById("txtEEmail").value;
        var idcliente = document.getElementById("txtIDCliente").value;

        var reque = {
            "IDCliente": idcliente, "Nombre": nombre, "Apellido": apellido, "NIT": nit, "NombreComercial": nombreCom, "Direccion": direccion,
            "Telefono": telefono, "Email": email, "IDEmpresa": 0
        };
        $.ajax({
            url: "/Cliente/EDIT",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono EditCliente", data);
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    alert(jsonResponse.Descripcion);
                    MapeoClientes(jsonResponse.Cliente);

                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

    }

    function confirmDeleteCliente(parametro) {
        var txt;
        var r = confirm("¿Seguro desea eliminar el cliente seleccionado?");
        if (r == true) {
            deleteCliente(parametro);
        }
    }

    function deleteCliente(parametro) {
        var rowID = parametro.closest("tr").rowIndex;
        var id = $("#tblCliente tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDCliente").innerHTML;
        console.log("parametro ", id);
        var reque = {
            "IDCliente": id, "Nombre": "", "NIT": "", "Direccion": "", "Telefono": "", "Email": "", "IDEmpresa": 0
        };
        $.ajax({
            url: "/Cliente/DELETE",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    alert(jsonResponse.Descripcion);
                    MapeoClientes(jsonResponse.Cliente);


                    /*MapeoRedes(jsonResponse.redes);*/
                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
</script>