﻿@{
    ViewData["Title"] = "Home Page";
}

@using Microsoft.AspNetCore.Http

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">ROLES</h3>
    </section>
    <button class="btn btn-secondary float-right" id="btnADD" style="display:none;" onclick="openModal(1)">Agregar +</button>
    <div id="divTabla" style="padding: 0em 2em">
        <table id="tblRol" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
            <thead>
                <tr>
                    <th style="width:15%">ID</th>
                    <th style="width:35%">Rol</th>
                    <th style="width:30%">Fecha Creacion</th>
                    <th style="width:15%">Accion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
@*<div class="container-fluid">

        <div class="text-center">
            <h4 class="display-9">Roles</h4>
        </div>
        <button class="btn btn-secondary float-right"  id="btnADD" style="display:none;" onclick="ADDRol()">Agregar +</button>
        <div id="divTabla" style="display: none;">
            <table id="tblRol" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
                <thead>
                    <tr>
                        <th style="width:15%">ID</th>
                        <th style="width:40%">Nombre</th>
                        <th style="width:30%">Fecha Creación</th>
                        <th style="width:15%">Accion</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

        </div>
    </div>*@
<div class="modal fade bd-example-modal-xl" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h4 class="modal-title">Agregar producto</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row" style="display: none;">
                            <label class="col-sm-6 col-form-label">Titulo de pagina:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtIDProducto" placeholder="Ingrese Titulo">
                                <input type="text" class="form-control" id="txtIdentificador_1_1" placeholder="Ingrese Titulo">
                                <input type="text" class="form-control" id="txtIDPagina_1_1" placeholder="Ingrese Titulo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">1) Titulo:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtTitulo" placeholder="Ingrese Titulo">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">2) Icono producto:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <label class="col-sm-6 col-form-label">3) Caracteristicas:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtCaracteristica" placeholder="Ingrese Titulo">
                            </div>
                            <label class="col-sm-6 col-form-label">4) Descripcion:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese Titulo">
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">5) Imagen de titulo:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">6) Imagen de producto 1:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">7) Imagen de producto 2:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <label class="col-sm-6 col-form-label">Categoria:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtCategoria" placeholder="Ingrese Titulo">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p>Imagen 1</p>
                        <img src="~/Images/Prod_1.PNG" class="img-fluid" alt="Responsive image" width="100%">
                        <p>Imagen 2</p>
                        <img src="~/Images/Prod_2.PNG" class="img-fluid" alt="Responsive image" width="100%">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-warning">Guardar</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>

     var jsonUsuario = '@Context.Session.GetString("usuarios")';
    jsonUsuario = jsonUsuario.replaceAll('&quot;', '"');

    var jsonRoll = '@Context.Session.GetString("roles")';
    jsonRoll = jsonRoll.replaceAll('&quot;', '"');

    var objUsuario = JSON.parse(jsonUsuario);
    var objRoll = JSON.parse(jsonRoll);

    var BEditar = false;
    var BEliminar = false;

    $(document).ready(function () {
        MapeoRol(objRoll);
    });

    function showInfo(parametro) {

        var rowID = parametro.closest("tr").rowIndex;
        var idRoll = $("#tblRol tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDRoll").innerHTML;

        window.location.href = '../RolDetalle/IndexRolDetalle/' + idRoll;


    };
    function ADDRol() {

        window.location.href = '../RolDetalle/IndexRolDetalle/';


    };

    function MapeoRol(rol) {

        $('#tblRol tbody tr').remove();
        //$('#tblBeneficio').DataTable().des
        //var esconderE = " style='display:none;'";
        //var esconderEli = " style='display:none;'";
        var esconderE = "";
        var esconderEli = "";
        if (BEditar) {
            esconderE = "";
        }
        if (BEliminar) {
            esconderEli = "";
        }
        console.log(BEditar);
        console.log(BEditar);
        var buton = "<button onclick='showInfo(this)' " + esconderE + " class='btn'><i class='fas fa-edit'></i></button><button " + esconderEli + "onclick='DeleteRol(this)' class='btn'><i class='far fa-trash-alt'></i></button>";
        var lstRol = rol;
        (lstRol).forEach(elementP => {
            $("<tr><td id='tdIDRoll' data-name='tdIDRoll'>" + elementP.IDRoll + "</td><td><p class='text-justify'>" + elementP.Nombre + "</p></td>" + "<td>" + elementP.FechaCreacion + "</td><td> " + buton + "</td>" + "</tr>").appendTo("#tblRol")

        });
        $('#tblRol').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        });
    };
    function openModal() {
        $('#myModal').modal('show');
    }
    function DeleteRol(parametro) {
        var rowID = parametro.closest("tr").rowIndex;
        var idRoll = parseInt($("#tblRol tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDRoll").innerHTML);

        if (objUsuario.IDRoll== idRoll) {
            alert('No puede borrar el rol al que esta asignado actualmente');
        } else {
            if (confirm('Esta seguro de borrar el rol, se borraran los permisos asociados?')) {
                var jsonRequest = { "IDRoll": idRoll, "Nombre": "", "idUsuario": objUsuario.IDUsuario };
                $.ajax({
                    url: "/Rol/DeleteBYID",
                    type: "POST",
                    dataType: "json",
                    data: { "jsonR": JSON.stringify(jsonRequest) },
                    success: function (data) {
                        console.log("Funciono DeleteRol", data);
                        console.log(typeof data);
                        var ok = isObject(data);
                        if (!ok) {
                            jsonResponse = JSON.parse(data);
                            if (jsonResponse.respuesta == 1) {
                                MapeoRol(jsonResponse.rol);
                                alert(jsonResponse.descripcion);
                            } else {
                                alert(jsonResponse.descripcion);
                            }
                        }
                        else {
                            alert("No cuenta con permisos para esta operación");
                        }
                    },
                });
            }
        }

    };
    function CheckPermiso(lstPermiso) {
        var permisoCrear = lstPermiso.find(x => x.IDPermiso == 25);
        var permisoBorrar = lstPermiso.find(x => x.IDPermiso == 26);
        var permisoEditar = lstPermiso.find(x => x.IDPermiso == 27);
        var permisoVer = lstPermiso.find(x => x.IDPermiso == 28);

        if (permisoVer.IDEstado == 1) {
            document.getElementById("divTabla").style.display = "inline";
        }
        if (permisoCrear.IDEstado == 1) {
            document.getElementById("btnADD").style.display = "inline";
        }
        if (permisoEditar.IDEstado == 1) {
            BEditar = true;
        }
        if (permisoBorrar.IDEstado == 1) {
            BEliminar = true;
        }


    }
    function isObject(value) {
        return value && typeof value === 'object' && value.constructor === Object;
    }
</script>
