﻿
@using Microsoft.AspNetCore.Http

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">PROVEEDORES</h3>
    </section>
    <div id="divTabla" style="padding: 0em 2em">
        <button class="btn btn-secondary float-right" id="btnADD" onclick="openModal(1)">Agregar +</button>
        <table id="tblProv" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
            <thead>
                <tr>
                    <th style="width:5%">ID</th>
                    <th style="width:25%">Nombre</th>
                    <th style="width:10%">NIT</th>
                    <th style="width:20%">Dirección</th>
                    <th style="width:10%">Telefono</th>
                    <th style="width:20%">Email</th>
                    <th style="width:10%">Accion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
<div class="modal fade bd-example-modal-lg" id="myModal" role="dialog" data-target="myModal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtMTitulo"></h4>
            </div>
            <div class="modal-body">
                <div id="divEDITCat" style="display:none">
                    <div class="row" style="display:none">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtIDProveedor" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtENombre" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>NIT:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtENIT" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Direccion:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtEDireccion" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Telefono:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtETelefono" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Email:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtEEmail" placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-warning" onclick="EditProv()">Editar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="divADDCat" style="display:none">
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtANombre" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>NIT:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtANIT" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Direccion:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtADireccion" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Telefono:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtATelefono" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Email:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtAEmail" placeholder="">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-warning" onclick="AddProv()">Agregar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>

var BEditar = false;
var BEliminar = false;
    $(document).ready(function () {


        var reque = {
            "IDCliente": 0
        };
        $.ajax({
            url: "/Proveedor/Load",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono cliente", data);
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {

                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
        var jsonClientes = '@Context.Session.GetString("proveedores")';
        jsonClientes = jsonClientes.replaceAll('&quot;', '"');
        var lstClientes = JSON.parse(jsonClientes);

        MapeoProveedor(lstClientes);

    });
    function MapeoProveedor(cat) {
            $('#tblProv tbody tr').remove();

            //var esconderE = " style='display:none;'"
            //var esconderEli = " style='display:none;'"

            var esconderE = "";
            var esconderEli = "";
            //if (BEditar) {
            //    esconderE = "";
            //}
            //if (BEliminar) {
            //    esconderEli = "";
            //}
        var buton = "<button onclick='openModal(2,this)' id='btnEdit' " + esconderE + " class='btn'><i class='fas fa-edit'></i></button><button id='btnDelete' " + esconderEli + " onclick='DeleteProv(this)' class='btn'><i class='far fa-trash-alt'></i></button>";
            cat.forEach(elementP => {
                var date = Date.parse(elementP.FechaCreacion);
                console.log(date);
                console.log(typeof (elementP.FechaCreacion));

            var img = "<img src='" + elementP.img + "' class='img-thumbnail' alt='img'>";
                console.log(img);
                $("<tr><td id='tdIDProv' data-name='tdIDProv'>" + elementP.IDProveedor + "</td><td id='tdNombre' data-name='tdNombre'>" + elementP.Nombre +
                    "</td><td id='tdNIT' data-name='tdNIT'>" + elementP.NIT +
                    "</td><td id='tdDireccion' data-name='tdDireccion'>" + elementP.Direccion + "</td><td id='tdTelefono' data-name='tdTelefono'>" + elementP.Telefono +
                    "</td><td id='tdEmail' data-name='tdEmail'>" + elementP.Email + "</td><td>" + buton + "</td> " + "</tr> ").appendTo("#tblProv")

            })
        $('#tblProv').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        } );
    }
    function openModal(divID, parametro) {

        console.log("Entro a openModal" + divID);
        if (divID == 1) {
            $("#txtMTitulo").html('Agregar nuevo proveedor');
            document.getElementById("divADDCat").style.display = "inline";
            document.getElementById("divEDITCat").style.display = "none";
            //document.getElementById("exampleFormControlFile1").value = "";
            //document.getElementById("imgLogoPrev").src = "";
        }
        if (divID == 2) {
            var rowID = parametro.closest("tr").rowIndex;
            console.log("rowID", rowID);
            $("#txtMTitulo").html('Editar cliente');
            document.getElementById("divEDITCat").style.display = "inline";
            document.getElementById("divADDCat").style.display = "none";

            var id = $("#tblProv tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDProv").innerHTML;
            var nit = $("#tblProv tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdNIT").innerHTML;
            var nombre = $("#tblProv tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdNombre").innerHTML;
            var email = $("#tblProv tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdEmail").innerHTML;
            var direccion = $("#tblProv tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdDireccion").innerHTML;
            var telefono = $("#tblProv tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdTelefono").innerHTML;

            document.getElementById("txtENIT").value = nit;
            document.getElementById("txtENombre").value = nombre;
            document.getElementById("txtEEmail").value = email;
            document.getElementById("txtIDProveedor").value = id;
            document.getElementById("txtEDireccion").value = direccion;
            document.getElementById("txtETelefono").value = telefono;



        }
        $('#myModal').modal('show');

    }
    function AddProv() {
        console.log("Entro a AddProv");
        var nombre = document.getElementById("txtANombre").value;
        var nit = document.getElementById("txtANIT").value;
        var direccion = document.getElementById("txtADireccion").value;
        var telefono = document.getElementById("txtATelefono").value;
        var email = document.getElementById("txtAEmail").value;

        var reque = {
            "IDProveedor": 0, "Nombre": nombre, "NIT": nit, "Direccion": direccion, "Telefono": telefono, "Email": email, "IDEmpresa": 0
        };
        $.ajax({
            url: "/Proveedor/ADD",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    MapeoProveedor(jsonResponse.Proveedor);
                    alert(jsonResponse.Descripcion);
                    document.getElementById("txtANombre").value = "";
                    document.getElementById("txtANIT").value = "";
                    document.getElementById("txtADireccion").value = "";
                    document.getElementById("txtATelefono").value = "";
                    document.getElementById("txtAEmail").value = "";

                    /*MapeoRedes(jsonResponse.redes);*/
                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

    }
    function EditProv() {
        console.log("Entro a AddProv");
        var id = document.getElementById("txtIDProveedor").value;
        var nombre = document.getElementById("txtENombre").value;
        var nit = document.getElementById("txtENIT").value;
        var direccion = document.getElementById("txtEDireccion").value;
        var telefono = document.getElementById("txtETelefono").value;
        var email = document.getElementById("txtEEmail").value;

        var reque = {
            "IDProveedor": id, "Nombre": nombre, "NIT": nit, "Direccion": direccion, "Telefono": telefono, "Email": email, "IDEmpresa": 0
        };
        $.ajax({
            url: "/Proveedor/EDIT",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    alert(jsonResponse.Descripcion);
                    MapeoProveedor(jsonResponse.Proveedor);


                    /*MapeoRedes(jsonResponse.redes);*/
                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

    }
    function DeleteProv(parametro) {
        var rowID = parametro.closest("tr").rowIndex;
        var id = $("#tblProv tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDProv").innerHTML;
        console.log("parametro ", id);
        var reque = {
            "IDProveedor": id, "Nombre": "", "NIT": "", "Direccion": "", "Telefono": "", "Email": "", "IDEmpresa": 0
        };
        $.ajax({
            url: "/Proveedor/DELETE",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    alert(jsonResponse.Descripcion);
                    MapeoProveedor(jsonResponse.Proveedor);


                    /*MapeoRedes(jsonResponse.redes);*/
                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
</script>