﻿
@using Microsoft.AspNetCore.Http
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/normalize.css">
<link rel="stylesheet" href="~/css/sweetalert2.css">
<link rel="stylesheet" href="~/css/material.min.css">
<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="~/css/main.css">

<section class="full-width pageContent">
    @*<section class="full-width text-center" style="padding: 10px 0;">
            <h3 class="text-center tittles">VENTAS</h3>
        </section>*@
    <div class="container" style="background-color: whitesmoke; margin-top:10px;">
        <div class="row">
            <div class="col">
                <div class="text-left">
                    <h6 class="font-weight-bold">Datos de facturación</h6>
                </div>
                <div class="form-group row" style="margin-left:8px">
                    <div class="col-sm-12">
                        <input class="form-check-input" type="checkbox" value="" onchange="handlechkConsumidor()" id="chkConsumidor">
                        <label class="form-check-label" for="flexCheckDefault">
                            CONSUMIDOR FINAL
                        </label>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtNIT" placeholder="Ingrese NIT" onfocusout="getNIT()">
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtNombreC" placeholder="Razon social">
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-left">
                    <h6 class="font-weight-bold">Moneda</h6>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <select id="ddlMoneda" class="form-control">
                            <option>GTQ</option>
                            <option>USD</option>
                            <option>EUR</option>
                        </select>
                    </div>
                </div>
                <div class="text-left">
                    <h6 class="font-weight-bold">Moneda</h6>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtEmail" placeholder="Ingrese email" >
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="text-left">
                    <h6 class="font-weight-bold">Establecimiento</h6>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <select id="ddlEstablecimiento" class="form-control" onchange="myFunction()">
                            <option value="" disabled selected>Seleciona un establecimiento</option>>
                        </select>
                    </div>
                </div>
                <div class="text-botton">
                    <button class="btn btn-secondary float-right" id="btnADD" onclick="openModal(1)">Agregar producto</button>
                </div>

            </div>


        </div>
    </div>
    <div style="padding: 2em 2em">
        @*<button class="btn btn-secondary float-right" id="btnADD" onclick="openModal(1)">Agregar +</button>*@
        <div id="divTabla">
            <table id="tblprod" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%;">
                <thead>
                    <tr>
                        <th style="width:10%">No</th>
                        <th style="width:10%">ID</th>
                        <th style="width:10%">Cantidad</th>
                        <th style="width:30%">Producto</th>
                        <th style="width:10%">Precio</th>
                        <th style="width:10%">Descuento</th>
                        <th style="width:10%">Img</th>
                        <th style="width:10%">Accion</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="background-color: whitesmoke; font-family: Montserrat;
                font-size: 20px; font-weight: bold;">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p style="font-family: Montserrat;font-size:20px">Subtotal:</p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span id="txtSubtotal"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p style="font-family: Montserrat;font-size:20px">Descuento:</p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span id="txtDescuento"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p style="font-family: Montserrat;font-size:20px">Impuesto IVA:</p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span id="txtIVA"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p style="font-family: Montserrat;font-size:20px">Total:</p>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <span id="txtTotal"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" style="padding: 0px">
            <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-8">

            </div>
            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" style="background-color: white; margin: 0px">
                <button type="button" class="btn btn-primary btn-lg btn-block" onclick="facturar()">Facturar</button>
                <button type="button" class="btn btn-secondary btn-lg btn-block" onclick="cancel()">Cancelar</button>
            </div>
        </div>
    </div>
</section>

<div class="modal fade bd-example-modal-xl" id="myModal" role="dialog" data-target="myModal">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtMTitulo"></h4>
            </div>
            <div class="modal-body">
                <div id="divADDCat">
                    <div id="divTabla" style="padding: 1em 2em">
                        <table id="tblProductomod" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
                            <thead>
                                <tr>
                                    <th style="width:5%">ID</th>
                                    <th style="width:10%">Nombre</th>
                                    <th style="width:10%">Descripcion</th>
                                    <th style="width:10%">Stock</th>
                                    <th style="width:10%">Precio</th>
                                    <th style="width:10%">Imagen</th>
                                    <th style="width:5%">Cantidad</th>
                                    <th style="width:5%">Accion</th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    var lstProdSale = [];
    var subtotal = 0;
    var subtotalPRO = 0;
    var iva = 0;
    var total = 0;
    $(document).ready(function () {
        $("#txtTotal").html('Q' + "0");
        $("#txtIVA").html('Q' + "0");
        $("#txtDescuento").html('Q' + "0");
        $("#txtSubtotal").html('Q' + "0");

        var reque = {
            "IDProducto": 0
        };
        $.ajax({
            url: "/Venta/Load",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {                
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {

                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

        var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
        jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
        var lstEstablecimiento = JSON.parse(jsonEstablecimiento);


        lstEstablecimiento.forEach(function (element) {
            var y = document.getElementById("ddlEstablecimiento");
            var option = document.createElement("option");
            option.text = element.IDEstablecimiento + "- " + element.NombreComercial;
            option.value = element.IDEstablecimiento;
            y.add(option);
        });;
    });
    function openModal(divID, parametro) {

        console.log("Entro a openModal" + divID);

        $('#myModal').modal('show');

    }
    function handlechkConsumidor() {
        if (chkConsumidor.checked) {
            console.log("checked")
            document.getElementById("txtNombreC").value = "CONSUMIDOR FINAL";
            document.getElementById("txtNIT").value = "CF";
        } else {
            console.log("undchecked")
            document.getElementById("txtNombreC").value = "";
            document.getElementById("txtNIT").value = "";
        }
    }
    function getNIT() {
        var NIT = document.getElementById("txtNIT").value;
        NIT = NIT.replace("-", "");
        NIT = NIT.toUpperCase();
        var pos = 0;
        var Correlativo = '';
        var DigitoVerificador = '';
        var Factor = 0;

        pos = NIT.length - 1;
        Correlativo = NIT.substring(0, pos);
        DigitoVerificador = NIT.substring(pos, NIT.length);
        Factor = Correlativo.length + 1;
        var Suma = 0;
        var Valor = 0;
        var total = 0;

        for (var i = 0; i <= pos - 1; i++) {
            Valor = NIT.substring(i, i + 1);
            Suma = Suma + Valor * Factor;
            Factor = Factor - 1;
        }
        var XMod11 = (11 - (Suma % 11)) % 11;


        if ((XMod11 == 10 && DigitoVerificador == 'K') || ((XMod11 + '') == DigitoVerificador)) {
            alert("Buscando NIT...")
            var reque = {
                "NIT": NIT
            };
            $.ajax({
                url: "/Venta/GetNITinfo",
                type: "post",
                dataType: "json",
                data: { "jsonR": JSON.stringify(reque) },
                success: function (data) {
                    console.log("Funciono ADDRed", data);
                    console.log(typeof data);
                    jsonResponse = JSON.parse(data);
                    if (jsonResponse.Respuesta == 1) {
                        document.getElementById("txtNombreC").value = jsonResponse.Receptor.NombreReceptor;
                    } else {
                        alert(jsonResponse.Descripcion);
                    }
                },
                error: function (error) {
                    console.log(`Error ${error}`);

                }
            });

        } else {
            document.getElementById("txtNombreC").value = "";
            alert("NIT invalido")

            return false;
        }
    }

    function MapeoProdMod(prod,idesta) {

        $('#tblProductomod tbody tr').remove();

        //var esconderE = " style='display:none;'"
        //var esconderEli = " style='display:none;'"
        var esconderE = " ";
        var esconderEli = "";
        //if (BEditar) {
        //    esconderE = "";
        //}
        //if (BEliminar) {
        //    esconderEli = "";
        //}
        //$('#tblBeneficio').DataTable().des
        var buton = "<button onclick='ADD(this)' id='btnEdit' " + esconderE + " class='btn'><i class='fas fa-plus'></i></button>";
        var lstProducto = prod;
        (lstProducto).forEach(elementP => {
            if (elementP.IDEstablecimiento == idesta) {
                console.log("element ", elementP);
                var img = "<img src='" + "p1.jpg" + "' class='img-fluid img-thumbnail' alt='img'>";
                $("<tr><td id='tdIDProd' data-name='tdIDProd'>" + elementP.IDProducto + "</td><td>" + elementP.Nombre + "</td>" + "<td><p class='text-justify'>" + elementP.Descripcion + "</p></td>" + "<td id='tdStock' data-name='tdStock'>" + elementP.Cantidad + "</td></td>" + "<td>" + elementP.PrecioVenta + "</td><td class= 'w-25'>" + img + "</td><td id='tdIDProd' data-name='tdIDProd'> <input class='form-control form-control-sm' type='text' id='txtCantM"+ elementP.IDProducto +"' value='1' ></td><td> " + buton + "</td>" + "</tr>").appendTo("#tblProductomod")
                //$("<tr><td id='celldesc' data-name='celldesc'>" + elementP.IDProducto + "</td><td class='w-25'>" + img + "</td>" + "<td style='width:14.28%'><input type='text' class='form-control' value='" + elementP.Nombre + "' readonly></td>" + "<td>" + elementP.Categoria + "</td>" + "<td>" + elementP.SubCategoria + "</td>" + "<td>" + elementP.Precio + "</td>" + "<td>" + buton + "</td>" + "</tr>").appendTo("#example")
            }

        });
        $('#tblProductomod').DataTable();
    };
    function myFunction() {
        console.log("myFunction");
        clean();
        var x = document.getElementById("ddlEstablecimiento").value;
        console.log(x);
        var jsonProducto = '@Context.Session.GetString("productos")';
        jsonProducto = jsonProducto.replaceAll('&quot;', '"');
        var lstProductos = JSON.parse(jsonProducto);


        MapeoProdMod(lstProductos,x);

    }
    function ADD(param) {

        var jsonProducto = '@Context.Session.GetString("productos")';
        jsonProducto = jsonProducto.replaceAll('&quot;', '"');
        var lstProductos = JSON.parse(jsonProducto);

        
        

        var rowID = param.closest("tr").rowIndex;
        console.log("rowID", rowID);
        var idprod = $("#tblProductomod tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDProd").innerHTML;
        var stock = parseInt($("#tblProductomod tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdStock").innerHTML);
        var cant = document.getElementById("txtCantM" + idprod).value;
        var found = lstProductos.find(x => x.IDProducto == idprod);
        console.log("found ", found)
        var existencia = 0;
        console.log("cant ", cant)
        console.log("lstProdSale ", lstProdSale)
        var cantidad = 1;        
        if (!isNaN(cant) == true) {
            cantidad = parseInt(cant) ;
        } 
        if (lstProdSale.length > 0) {
            lstProdSale.forEach((key, index) => {
                console.log("key ", key)
                if (found.IDProducto == key.IDProducto) {
                    existencia = existencia + key.Cantidad; 
                }
                
            });
            existencia = existencia + cantidad;
        } else {
            existencia = existencia + cantidad;
        }
        

        //for (const property in lstProdSale) {
        //    console.log("proper ", property)
        //    if (found.IDProducto == property.IDProducto) {
        //        existencia = existencia + parseInt(cant);
        //    }
        //}
        console.log("existencia ", existencia)
        console.log("cantidad ", cantidad)
        if (existencia <= stock) {
            found.Cantidad = cantidad;
            console.log(found);

            lstProdSale.push(found)
            MapeoProd(lstProdSale);
            console.log("lstProdSale", lstProdSale);
        } else {
            alert("No se dispone de esa cantidad")
        }

        //if (cant > found.Cantidad) {
        //    alert("No se dispone de esa cantidad")

            
        //} else {
        //    found.Cantidad = cant;
        //    console.log(found);

        //    lstProdSale.push(found)
        //    MapeoProd(lstProdSale);
        //    console.log("lstProdSale", lstProdSale);
        //}
        
        

        
    }

    function DeleteProducto(parametro) {
        var rowID = parametro.closest("tr").rowIndex;

        if (confirm('Esta seguro de borrar el producto?')) {

            console.log(rowID);            
            var idnum = $("#tblprod tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdNUM").innerHTML;
            console.log("El id " + idnum);            
            let myArray = lstProdSale.filter(function (obj) {
                return obj.No != idnum;
            });
            console.log("myArray ", myArray)
            MapeoProd(myArray);

        } else {
            // Do nothing!
            console.log('Thing was not saved to the database.');
        }

    };
    function MapeoProd(prod) {
        lstProdSale = [];
        $('#tblprod tbody tr').remove();

        //var esconderE = " style='display:none;'"
        //var esconderEli = " style='display:none;'"
        var esconderE = " ";
        var esconderEli = "";
        //if (BEditar) {
        //    esconderE = "";
        //}
        //if (BEliminar) {
        //    esconderEli = "";
        //}
        //$('#tblBeneficio').DataTable().des
        var buton = "<button onclick='DeleteProducto(this)' " + esconderEli + " class='btn'><i class='far fa-trash-alt'></i></button>";
        
        var lstProducto = prod;
        var cont = 1;
        subtotal = 0;         
        iva = 0;
        total = 0;
        (lstProducto).forEach(elementP => {

            total = total + (elementP.PrecioVenta * elementP.Cantidad);
            iva = iva + ((total * 0.12) / 1.12);
            subtotal = (total - iva);
            var img = "<img src='" + "p1.jpg" + "' class='img-fluid img-thumbnail' alt='img'>";
            $("<tr><td id='tdNUM' data-name='tdNUM'>" + cont + "</td><td id='tdIDProd' data-name='tdIDProd'>" + elementP.IDProducto + "</td><td>" + elementP.Cantidad + "</td>" + "<td><p class='text-justify'>" + elementP.Nombre + "</p></td><td>" + elementP.PrecioVenta + "</td><td id='tdIDProd' data-name='tdNUM'>" + 0 + "</td><td class= 'w-25'>" + img + "</td ><td> " + buton + "</td>" + "</tr>").appendTo("#tblprod")
                //$("<tr><td id='celldesc' data-name='celldesc'>" + elementP.IDProducto + "</td><td class='w-25'>" + img + "</td>" + "<td style='width:14.28%'><input type='text' class='form-control' value='" + elementP.Nombre + "' readonly></td>" + "<td>" + elementP.Categoria + "</td>" + "<td>" + elementP.SubCategoria + "</td>" + "<td>" + elementP.Precio + "</td>" + "<td>" + buton + "</td>" + "</tr>").appendTo("#example")
            elementP.No = cont;
            lstProdSale.push(elementP);
            cont++;

            

        });
        $('#tblprod').DataTable();
        console.log(total);
        console.log(iva);
        console.log(subtotal);
        if (lstProducto.length > 0) {
            $("#txtTotal").html('Q' + total.toFixed(2));
            $("#txtIVA").html('Q' + iva.toFixed(2));
            $("#txtDescuento").html('Q' + "0");
            $("#txtSubtotal").html('Q' + subtotal.toFixed(2));
        } else {
            $("#txtTotal").html('Q' + "0");
            $("#txtIVA").html('Q' + "0");
            $("#txtDescuento").html('Q' + "0");
            $("#txtSubtotal").html('Q' + "0");

        }
        
    };
    function cancel() {
        location.reload();
    }
    function ValidateEmail(_email) {
        console.log("ValidateEmail ", _email)
        const words = _email.split(',');
        var cont = 0;
        var bandera = true;
        var regName = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        total = 0;
        words.forEach(elementP => {
            console.log();
            if (!regName.test(elementP)) {
                cont++;
            }

            

        });
        
        if (cont > 0) {
            bandera = false;
        }
        return bandera;
    }
    function facturar() {
        var razon = document.getElementById("txtNombreC").value;
        var nit = document.getElementById("txtNIT").value;
        var email = document.getElementById("txtEmail").value;
        console.log(lstProdSale.length);
        var isEmailOK = true;
        if (email != "") {
            isEmailOK = ValidateEmail(email)
        }

        if (isEmailOK == true) {
            if (lstProdSale.length > 0 && razon != "" && nit != "")  {

                var idesta = document.getElementById("ddlEstablecimiento").value;

                var request = `{
                    "Email": "`+ email + `",
                    "Transaccion": {
                        "IDTransaccion": 0,
                        "IDEstablecimiento": `+ idesta + `,
                        "FechaEmision": "",
                        "IDBitacoraTransaccion": 0,
                        "Monto": `+ total + `,
                        "MontoIVA": `+ iva + `,
                        "Descuento": 0,
                        "IDCorte": 1,
                        "IDUsuario": 1,
                        "Observaciones": "fsdf",
                        "IDCliente": 0,
                        "NitReceptor": "`+ nit + `",
                        "NombreReceptor": "`+ razon + `",
                        "IDTipoCliente": 1,
                        "APPRequest": ""
                    },
                    "Producto": `+ JSON.stringify(lstProdSale) + `
                    
                }`

                $.ajax({
                    url: "/Venta/FACTURAR",
                    type: "post",
                    dataType: "json",
                    data: { "jsonR": request },
                    success: function (data) {
                        console.log("Funciono facutrar", data);
                        console.log(typeof data);
                        jsonResponse = JSON.parse(data);
                        if (jsonResponse.Respuesta == 1) {
                            alert(jsonResponse.Descripcion);
                            $('#tblprod tbody tr').remove();
                            $("#txtTotal").html('Q' + "0");
                            $("#txtIVA").html('Q' + "0");
                            $("#txtDescuento").html('Q' + "0");
                            $("#txtSubtotal").html('Q' + "0");
                            lstProdSale = [];
                            //location.reload();
                            downloadPDF(jsonResponse.PDF, jsonResponse.DOCGUID);

                        } else {
                            alert(jsonResponse.Descripcion);
                        }
                    },
                    error: function (error) {
                        console.log(`Error ${error}`);

                    }
                });


            } else {
                alert("Debe contar con datos de facturacion, elegir al menos un producto")
            }

        } else {
            alert("Uno o más correos no cumplen con el formato correcto")
        }
      

      
    }
    function downloadPDF(pdf,name) {
        const linkSource = `data:application/pdf;base64,${pdf}`;
        const downloadLink = document.createElement("a");
        const fileName = "FACT_" +name+".pdf";

        downloadLink.href = linkSource;
        downloadLink.download = fileName;
        downloadLink.click();
    }
    function clean() {
        lstProdSale = [];
        $('#tblprod tbody tr').remove();
        $("#txtTotal").html('Q' + "0");
        $("#txtIVA").html('Q' + "0");
        $("#txtDescuento").html('Q' + "0");
        $("#txtSubtotal").html('Q' + "0");
    }
</script>
