﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-9">Cambiar contraseña</h1>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="form-group row">
                <label for="staticEmail" class="col-sm-6 col-form-label">Contraseña temporal:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="txtOldPass" value="" placeholder="Ingrese la contraseña temporal">
                </div>
            </div>
            <div class="form-group row">
                <ul>
                    <li>La contraseña debe contener un minimo de 6 y un maximo de 15 caracteres</li>
                    <li>La contraseña debe contener al menos una letra mayúscula</li>
                    <li>La contraseña debe contener al menos una letra minucula</li>
                    <li>La contraseña debe contener al menos un dígito</li>
                    <li>La contraseña debe contener al menos 1 caracter especial</li>
                    <li>La contraseña no debe contener espacios en blanco</li>
                </ul>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-6 col-form-label">Contraseña:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="txtPass1" value="" placeholder="Ingrese contraseña nueva">
                </div>
            </div>
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-6 col-form-label">Confirmación de contraseña:</label>
                <div class="col-sm-10">
                    <input type="password" class="form-control" id="txtPass2" value="" placeholder="Confirme su contraseña nueva">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="checkbox" onclick="Show()"> Mostrar contraseña
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button type="submit" id="btnActualizar" onclick="CheckParams()" class="btn btn-lg btn-primary">Actualizar</button>
        </div>        
    </div>

</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script>
    var jsonUsuario = '@Context.Session.GetString("usuario")';
    jsonUsuario = jsonUsuario.replaceAll('&quot;', '"');
    var objUsuario = JSON.parse(jsonUsuario);
    document.getElementById("txtPass1").addEventListener("keyup", ValidatePass1);
    document.getElementById("txtPass2").addEventListener("keyup", ValidatePass2);
    function Show() {
        var x = document.getElementById("txtPass1");
        if (x.type === "password") {
            x.type = "text";
        } else {
            x.type = "password";
        }
        var y = document.getElementById("txtPass2");
        if (y.type === "password") {
            y.type = "text";
        } else {
            y.type = "password";
        }
    }
    $(document).keyup(function (event) {
        if (event.which === 13) {
            document.getElementById("btnActualizar").click();
        }
    });
    function Update() {
        var oldPass = document.getElementById("txtOldPass").value;
        var pass1 = document.getElementById("txtPass1").value;
        var pass2 = document.getElementById("txtPass2").value;
        var reque = { "idUsuario": objUsuario.IDUsuario, "oldPassword": oldPass, "tempPass": 0, "password": pass2 };
        $.ajax({
            url: "/Change/UPDATE",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log(typeof data);
                console.log("Data del response", data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.respuesta == 1) {
                    alert("Contraseña cambiada exitosamente");
                    window.location = '@Url.Action("Index", "Home")';
                } else {
                    alert(jsonResponse.descripcion);
                }

            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
    function ValidatePass1(pass) {        
        var regName = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?&])([A-Za-z\d$@@$!%*?&]|[^ ]){6,15}$/;
        var name = document.getElementById('txtPass1').value;
        if (!regName.test(name)) {
            document.getElementById("txtPass1").style.borderColor = "red";
            return false;
        } else {
            document.getElementById("txtPass1").style.borderColor = "green";
            return true;
        }
    }
    function ValidatePass2(pass) {
        var regName = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[$@@$!%*?&])([A-Za-z\d$@@$!%*?&]|[^ ]){6,15}$/;
        var name = document.getElementById('txtPass2').value;
        if (!regName.test(name)) {
            document.getElementById("txtPass2").style.borderColor = "red";
            return false;
        } else {
            document.getElementById("txtPass2").style.borderColor = "green";
            return true;
        }
    }
    function CheckParams() {
        var oldPass = document.getElementById("txtOldPass").value;
        var pass1 = document.getElementById("txtPass1").value;
        var pass2 = document.getElementById("txtPass2").value;
        let error_array = [];
        var ok = false;
        
        if (!oldPass) {
            error_array.push('El campo "Contraseña temporal" no puede venir vacio');
        }
        if (!pass1) {
            error_array.push('El campo "Contraseña" no puede venir vacio');
        } else {
            var okP1 = ValidatePass1(pass1);
            if (!okP1) {
                error_array.push('El campo "Contraseña" no cumple con el formato requerido');
            }
        }
        if (!pass2) {
            error_array.push('El campo "Confirmación de contraseña" no puede venir vacio');
        } else {
            var okP2 = ValidatePass2(pass2);
            if (!okP2) {
                error_array.push('El campo "Confirmación de contraseña" no cumple con el formato requerido');
            }
        }
        if (pass1 != pass2) {
            error_array.push('Contraseñas no coinciden entre si');
        }

        if (error_array.length == 0) {
            console.log("Verdadero");
            Update();
        } else {
            var text = "";
            console.log("falso");
            console.log(error_array.length.toString());
            error_array.forEach(function (elemento) {
                text = text + elemento + "\n";
            })
            alert("" + text);
        }


    }

</script>