﻿
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<div class="container-login">
    <p class="text-center" style="font-size: 80px;">
        <i class="zmdi zmdi-account-circle"></i>
    </p>
    <p class="text-center text-condensedLight" style="font-size:x-large">Bienvenido a POSWebOS</p>

    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" value="123456" type="text" id="txtNIT">
        <label class="mdl-textfield__label" for="userName">Ingrese su NIT</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" value="Admin" type="text" id="txtUser">
        <label class="mdl-textfield__label" for="userName">Ingrese su usuario</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" value="123" type="password" id="txtPass">
        <label class="mdl-textfield__label" for="pass">Ingrese su contraseña</label>
    </div>
    <button id="SingIn" onclick="Login()" class="mdl-button mdl-js-button mdl-js-ripple-effect" style="color: #3F51B5; float:right;">
        Ingresar  <i class="zmdi zmdi-mail-send"></i>
    </button>

</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>
    function Login() {
        var nit = document.getElementById("txtNIT").value;
        var usuario = document.getElementById("txtUser").value;
        var pass = document.getElementById("txtPass").value;
        var reque = { "User": usuario, "Pass": pass, "NIT": nit};
        $.ajax({
            url: "/Login/LoginAUTH",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log(typeof data);
                console.log("Data del response", data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    //if (jsonResponse.usuario.tempPass == 0) {
                    //    window.location.href = '../Home/Index/';
                    //} else {
                    //    window.location.href = '../Change/IndexChange/';
                    //}
                    window.location.href = '../Home/Index/';
                } else {
                    alert("No se encontraron coincidencias");
                }

            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
</script>