﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-9">Recuperar contraseña</h1>
    </div>


    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            @*<div class="form-group row">
                <label for="staticEmail" class="col-sm-6 col-form-label">Usuario:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtUser" value="" placeholder="Ingrese usuario">
                </div>
            </div>*@
            <div class="form-group row">
                <label for="inputPassword" class="col-sm-6 col-form-label">Correo:</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="txtEmail" value="" placeholder="Ingresa tu correo asociado a la cuenta">
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <button type="submit" id="btnLogin" onclick="CheckParams()" class="btn btn-lg btn-primary">Recuperar</button>
            <button type="submit" onclick="Back()" class="btn btn-lg btn-primary">Volver al inicio</button>
        </div>                
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>

<script>

    var jsonResponse;
    var objEstado;
    $(document).keyup(function (event) {
        if (event.which === 13) {
            document.getElementById("btnLogin").click();
        }
    });
    function Forgot() {  
        var email = document.getElementById("txtEmail").value;
       
            var reque = { "user": "", "email": email, "tempPass": 1 };
            $.ajax({
                url: "/Login/Reset",
                type: "post",
                dataType: "json",
                data: { "jsonR": JSON.stringify(reque) },
                success: function (data) {
                    console.log(typeof data);
                    console.log("Data del response", data);
                    jsonResponse = JSON.parse(data);
                    if (jsonResponse.respuesta == 1) {
                        document.getElementById("txtEmail").value = "";
                        document.getElementById("txtUser").value = "";
                        alert("Una contraseña temporal fue enviado a su correo");
                    } else {
                        alert(jsonResponse.descripcion);
                    }

                },
                error: function (error) {
                    console.log(`Error ${error}`);

                }
            });
      
    }
    function Back() {        
        window.location = '@Url.Action("IndexLogin", "Login")';  
    }


    function CheckParams() {    
        var email = document.getElementById("txtEmail").value;
        console.log(email);
        let error_array = [];       
        if (!email) {
            error_array.push('El campo "Email" no puede venir vacio');
        } else {
            var ok = ValidateEmail(email);
            if (!ok) {
                error_array.push('El campo "Correo" no cumple con el formato correcto');
            }
        }


        if (error_array.length == 0) {
            Forgot();
        } else {
            var text = "";
            error_array.forEach(function (elemento) {
                text = text + elemento + "\n";
            })
            alert("" + text);
        }


    }
    function ValidateEmail(_email) {
        var regName = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (regName.test(_email)) {
            return (true)
        }
        return (false)
    }

</script>