﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-9">Home PaginaVisanet</h1>
    </div>
    <div class="text-left">
        <h1 class="display-8">Seccion A</h1>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group row" style="display: none;">
                <label class="col-sm-6 col-form-label">Titulo de pagina:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="idSecA" placeholder="Ingrese Titulo">
                </div>
            </div>
            @*<div class="form-group row">

            <div class="col-sm-12">
                <input type="file" class="form-control-file">
            </div>
            <div id="divImg">

            </div>
        </div>*@
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label>1) Imagen 1:</label>
                    <input type="file" class="form-control-file inputfile" id="exampleFormControlFile_1" accept=".jpg,.png">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img id="imgLogoPrev1" src="#" class="img-thumbnail d-none DIVLS1" style="border-style: solid" />
                </div>
            </div>
            <div id="div1" class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>Imagen 1 Actual:</label>
                    <img id="imgLogoPrev3" src="#" class="img-thumbnail d-none DIVLS3" style="border-style: solid" />
                    <p id="txtMTitulo1"></p>
                </div>
            </div>
            <div class="form-group">
                <label for="txtDescripcion">2) Descripción:</label>
                <textarea class="form-control" id="txtADescripcion" rows="2"></textarea>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">3) Boton Titulo:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="txtABTitulo" placeholder="Ingrese Titulo">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">4) Boton Link:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="txtABLink" placeholder="Ingrese Titulo">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <label>5) Imagen 2:</label>
                    <input type="file" class="form-control-file inputfile" id="exampleFormControlFile_2" accept=".jpg,.png">
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <img id="imgLogoPrev2" src="#" class="img-thumbnail d-none DIVLS" style="border-style: solid" />
                </div>
            </div>
            <div id="div2" class="form-group row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>Imagen 2 Actual:</label>
                    <img id="imgLogoPrev4" src="#" class="img-thumbnail d-none DIVLS4" style="border-style: solid" />
                    <p id="txtMTitulo2"></p>
                </div>
            </div>
            <button type="button" onclick="Update(1)" id="btnEdit1" style="display:none;" class="btn btn-warning btn-lg">Actualizar</button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img src="~/Images/SeccionA.PNG" class="img-fluid" alt="Responsive image" width="100%">
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <hr style="border:1px solid blue">
    </div>
    @*SECCION B*@
    <div class="text-left">
        <h1 class="display-8">Seccion B</h1>
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="form-group row" style="display: none;">
                <label class="col-sm-6 col-form-label">Titulo de pagina:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="idSecB" placeholder="Ingrese Titulo">
                </div>
            </div>
            <div class="form-group">
                <label for="txtDescripcion">1) Descripción:</label>
                <textarea class="form-control" id="txtBBDescripcion" rows="2"></textarea>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">2) Boton Titulo:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="txtBBTitulo" placeholder="Ingrese Titulo">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-6 col-form-label">3) Boton Link:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="txtBBLink" placeholder="Ingrese Titulo">
                </div>
            </div>
            <button type="button" onclick="Update(2)" id="btnEdit2" style="display:none;" class="btn btn-warning btn-lg">Actualizar</button>
        </div>
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <img src="~/Images/SeccionB.PNG" class="img-fluid" alt="Responsive image" width="100%">
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script>
    var listG = [];
    //var global =  { "idSeccionA": idSec, "titulo": descripcion, "botonTitulo": botonTitulo, "botonLink": botonLink, "img1": imagen1, "img2": imagen2 };
    var jsonUsuario = '@Context.Session.GetString("usuario")';
    jsonUsuario = jsonUsuario.replaceAll('&quot;', '"');

    var jsonRoll = '@Context.Session.GetString("rol")';
    jsonRoll = jsonRoll.replaceAll('&quot;', '"');

    var objUsuario = JSON.parse(jsonUsuario);
    var objRoll = JSON.parse(jsonRoll);
    var jsonResponse;
    $(document).ready(function () {
        console.log("Hola");
        var requeA = {
            "idSeccionA": 0, "titulo": "", "botonTitulo": "", "botonLink": "",
            "img1": "", "img2": "", "nombreImg1": "", "nombreImg2": "", "idUsuario": objUsuario.IDUsuario
        };
        $.ajax({
            url: "@Url.Action("GETSeccionA", "HomeVisa")",
            type: "post",
            data: { "jsonR": JSON.stringify(requeA)},
            dataType: "json",
            success: function (data) {
                console.log(typeof data);
                console.log("Data del response", data);
                jsonResponse = JSON.parse(data);
                CheckPermiso(objRoll);
                document.getElementById("txtABTitulo").value = jsonResponse.seccionA.botonTitulo;
                document.getElementById("txtADescripcion").value = jsonResponse.seccionA.titulo;
                document.getElementById("txtABLink").value = jsonResponse.seccionA.botonLink;
                document.getElementById("idSecA").value = jsonResponse.seccionA.idSeccionA;
                $('#exampleFormControlFile_1').on('input', function (e) {
                    previewLogoFileA();
                });
                $('#exampleFormControlFile_2').on('input', function (e) {
                    previewLogoFileE();
                });
                //$('#exampleFormControlFile_3').on('input', function (e) {
                //    previewLogoFile3();
                //});
                MapImagenes(jsonResponse.seccionA);
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
        var requeB = { "idSeccionB": 0, "titulo": "", "botonTitulo": "", "botonLink": "", "idUsuario": objUsuario.IDUsuario };
        $.ajax({
            url: "@Url.Action("GETSeccionB", "HomeVisa")",
            data: { "jsonR": JSON.stringify(requeB) },
            type: "post",
            dataType: "json",
            success: function (data) {
                console.log(typeof data);
                console.log("Data del response", data);
                jsonResponse = JSON.parse(data);
                document.getElementById("txtBBTitulo").value = jsonResponse.seccionB.botonTitulo;
                document.getElementById("txtBBDescripcion").value = jsonResponse.seccionB.titulo;
                document.getElementById("txtBBLink").value = jsonResponse.seccionB.botonLink;
                document.getElementById("idSecB").value = jsonResponse.seccionB.idSeccionB;


            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    });

    function CheckPermiso(lstPermiso) {
        var permisoEditar = lstPermiso.find(x => x.IDPermiso == 17);
        var permisoVer = lstPermiso.find(x => x.IDPermiso == 18);

        if (permisoVer.IDEstado == 0) {
            RedirectError();
        }
        if (permisoEditar.IDEstado == 1) {
            document.getElementById("btnEdit1").style.display = "inline";
            document.getElementById("btnEdit2").style.display = "inline";
        }



    }
    function RedirectError() {
        window.location.href = '../Home/IndexError/';
    };
    function Update(id)
    {
        //listG = [];
        console.log("El id es:" + id);
        //if (id == 1) {
        //    Main('exampleFormControlFile_1',1);
        //    Main('exampleFormControlFile_2', 2);         
        //}
        var descripcion;
        var botonTitulo;
        var botonLink;
        var idSec;
        var ok;
            var reque;
            var ulrControlador;
        if (id == 1) {
            idSec = parseInt(document.getElementById("idSecA").value);
            descripcion = document.getElementById("txtADescripcion").value;
            botonTitulo = document.getElementById("txtABTitulo").value;
            botonLink = document.getElementById("txtABLink").value;    
            var img1;
            var img2;
            var nombreImg1;
            var nombreImg2; 
            console.log(listG);
            console.log(listG.length);
            var valueAtIndex1 = listG[1];
            console.log(valueAtIndex1);
            listG.forEach(function (element) {
                console.log("Entro al for each");
                console.log(element);

                if (element.identificador == 1) {
                    console.log("hola");
                    var arry_Nombre = element.imgBase64.split(",");
                    img1 = arry_Nombre[1];
                    nombreImg1 = element.nombre;
                }
                if (element.identificador == 2) {
                    var arry_Nombre = element.imgBase64.split(",");
                    img2 = arry_Nombre[1];                    
                    nombreImg2 = element.nombre;
                }
            });;
          ok = CheckImagen(listG);
            reque = {
                "idSeccionA": idSec, "titulo": descripcion, "botonTitulo": botonTitulo, "botonLink": botonLink,
                "img1": img1, "img2": img2, "nombreImg1": nombreImg1, "nombreImg2": nombreImg2, "idUsuario": objUsuario.IDUsuario
            };
            
            ulrControlador ="/HomeVisa/UPDATEA"
        }
        if (id == 2)
        {
        idSec = parseInt(document.getElementById("idSecB").value);
        descripcion = document.getElementById("txtBBDescripcion").value;
        botonTitulo = document.getElementById("txtBBTitulo").value;
        botonLink = document.getElementById("txtBBLink").value;
            reque = { "idSeccionB": idSec, "titulo": descripcion, "botonTitulo": botonTitulo, "botonLink": botonLink, "idUsuario": objUsuario.IDUsuario };
            ulrControlador = "/HomeVisa/UPDATEB";
            ok = true;
        }
        console.log(reque);
        var respuesta = 0;
        // valor 0 error
        // valor 1 todo ok
        // valor 2 falta de permisos
        if (ok) {
            $.ajax({
                dataType: "json",
                type: "POST",
                url: ulrControlador,
                data: { "jsonR": JSON.stringify(reque) },
                success: function (data) {
                    console.log("Funciono Update", data);
                    console.log(typeof data);
                    var ok = isObject(data);
                    if (!ok) {
                        jsonResponse = JSON.parse(data);
                        if (jsonResponse.respuesta == 1) {
                            respuesta = 1;
                            alert(jsonResponse.descripcion);
                            if (id == 1) {
                                MapImagenes(jsonResponse.seccionA);
                                document.getElementById("imgLogoPrev2").src = "";
                                document.getElementById("exampleFormControlFile_2").value = "";
                                document.getElementById("imgLogoPrev1").src = "";
                                document.getElementById("exampleFormControlFile_1").value = "";
                            }
                        } else {
                            respuesta = 0;
                            alert("Hubo un error, intente nuevamente");
                        }
                    }
                    else {
                        respuesta = 2;
                        //alert("No cuenta con permisos para esta operación");
                    }

                },
                error: function (error) {
                    console.log(`Error ${error}`);

                }
            });
        }
        
        return respuesta;

    }
    function CheckImagen(listG) {
        ok = false;
        let error_array = [];
        listG.forEach(function (element) {
            var campo;            
            if (element.identificador == 1) { campo = "Imagen 1"; }
            if (element.identificador == 2) { campo = "Imagen 2"; }    
            if (element.size > 3000) {
                error_array.push('-' + campo + ': el tamaño de la imagen superan los 3MB permitidos.');
            }

            if (element.formato.toUpperCase() != "PNG" && element.formato.toUpperCase() != "JPEG" && element.formato.toUpperCase() != "JPG") {
                error_array.push('-' + campo + ': el formato del archivo no es valido (Unicamente JPG y PNG).');
            }

        });

        if (error_array.length == 0) {
            console.log("Verdadero");
            ok = true;
        } else {
            var text = "";
            console.log(error_array.length.toString());
            error_array.forEach(function (elemento) {
                text = text + elemento + "\n";
            })
            alert("" + text);
        }
        return ok;


    }
    $('input[type="file"]').on('change', function () {
        //$('input[type="file"]').each(function () {
        //    alert($(this).val());
        //    console.log(this);
        //    console.log(this.id);
            
        //});
        var idName = this.id;
        var arry_Nombre = idName.split("_");
        imgNombre = arry_Nombre[1];
        Main(idName, parseInt(arry_Nombre[1]));
        
    });
    function isObject(value) {
        return value && typeof value === 'object' && value.constructor === Object;
    }
    function previewLogoFileA() {
        try {
            const selectedFile = document.getElementById('exampleFormControlFile_1').files[0];
            var oFile = selectedFile;
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".DIVLS1").removeClass("d-none");
                $(".DIVLS1").addClass("d-flex");
                $('#imgLogoPrev1')
                    .attr('src', e.target.result)
                    .width("40%")
            };
            reader.readAsDataURL(oFile);

        } catch (err) {
            alert('Seleccione una imagen', 'Error');

        }

    }
    function previewLogoFileE() {
        try {
            const selectedFile = document.getElementById('exampleFormControlFile_2').files[0];
            var oFile = selectedFile;
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".DIVLS").removeClass("d-none");
                $(".DIVLS").addClass("d-flex");
                $('#imgLogoPrev2')
                    .attr('src', e.target.result)
                    .width("40%")
            };
            reader.readAsDataURL(oFile);

        } catch (err) {
            alert('Seleccione una imagen', 'Error');

        }

    }
    function arrayBufferToBase64(buffer) {
        let binary = '';
        let bytes = new Uint8Array(buffer);
        let len = bytes.byteLength;
        for (let i = 0; i < len; i++) {
            binary += String.fromCharCode(bytes[i]);
        }
        return window.btoa(binary);
    } 
    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });
    async function Main(name, num) {


        var selectedFile = document.getElementById(name).files[0];
        if (selectedFile) {
            var oFile = selectedFile;
            imgNombre = oFile.name;
            var siezekiloByte = parseInt(selectedFile.size / 1024);
            var arry_Nombre = imgNombre.split(".");
            var index = arry_Nombre.length - 1;
            console.log(siezekiloByte);
            console.log(arry_Nombre[index]);
            var test = await toBase64(selectedFile);
            console.log(test);
            var obj = {
                "nombre": imgNombre, "imgBase64": test, "identificador": num, "formato": arry_Nombre[index],
                "size": siezekiloByte
            };
            listG[num] = obj;
            console.log(obj);
            return obj;
        } else {
            console.log("name viene nulo" + name);
            return obj;

        }
    }

    //PREVIEW IMAGENES ACTUALES
    function previewLogoFile3() {
        try {
            $(".DIVLS3").removeClass("d-none");
            $(".DIVLS3").addClass("d-flex");
            $('#imgLogoPrev3')
                .width("40%")

        } catch (err) {
            document.getElementById("imgLogoPrev3").src = "";
        

        }

    }
    function previewLogoFile4() {
        try {
            $(".DIVLS4").removeClass("d-none");
            $(".DIVLS4").addClass("d-flex");
            $('#imgLogoPrev4')
                .width("40%")

        } catch (err) {
            document.getElementById("imgLogoPrev4").src = "";


        }

    }
    function MapImagenes(seccionA) {
        console.log("MAP IMAGENES");
        console.log(seccionA);
        document.getElementById("imgLogoPrev3").src = seccionA.img1;        
        previewLogoFile3();
        $("#txtMTitulo1").html(seccionA.nombreImg1);


        document.getElementById("imgLogoPrev4").src = seccionA.img2;
        previewLogoFile4();
        $("#txtMTitulo2").html(seccionA.nombreImg2);

    }
</script>