﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
<link rel="stylesheet" href="~/css/normalize.css">
<link rel="stylesheet" href="~/css/sweetalert2.css">
<link rel="stylesheet" href="~/css/material.min.css">
<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="~/css/main.css">


<!-- pageContent -->
<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 40px 0;">
        <h3 class="text-center tittles">RESUMEN GENERAL</h3>
        <!-- Tiles -->
        <a href="/Usuario/IndexUsuario/" class="full-width">
            <article class="full-width tile">
                <div class="tile-text">
                    <span class="text-condensedLight" style="font-size:40px">
                        <small class="text-condensedLight" id="numUsuarios"></small><br>
                        <small>Usuarios</small>
                    </span>
                </div>
                <i class="zmdi zmdi-account tile-icon"></i>
            </article>
        </a>

        <a href="/Cliente/IndexCliente/" class="full-width">
            <article class="full-width tile">
                <div class="tile-text">
                    <span class="text-condensedLight" style="font-size:40px">
                        <small class="text-condensedLight" id="numClientes"></small><br>
                        <small>Clientes</small>
                    </span>
                </div>
                <i class="zmdi zmdi-accounts tile-icon"></i>
            </article>
        </a>
        <a href="/Proveedor/IndexProveedor/" class="full-width">
            <article class="full-width tile">
                <div class="tile-text">
                    <span class="text-condensedLight" style="font-size:40px">
                        <small class="text-condensedLight" id="numProveedores"></small><br>
                        <small>Proveedores</small>
                    </span>
                </div>
                <i class="zmdi zmdi-truck tile-icon"></i>
            </article>
        </a>
        <a href="/Categoria/IndexCategoria/" class="full-width">
            <article class="full-width tile">
                <div class="tile-text">
                    <span class="text-condensedLight" style="font-size:40px">
                        <small class="text-condensedLight" id="numCategorias"></small><br>
                        <small>Categorias</small>
                    </span>
                </div>
                <i class="zmdi zmdi-label tile-icon"></i>
            </article>
        </a>
        <a href="/Producto/IndexProducto/" class="full-width">
            <article class="full-width tile">
                <div class="tile-text">
                    <span class="text-condensedLight" style="font-size:40px">
                        <small class="text-condensedLight" id="numProductos"></small><br>
                        <small>Productos</small>
                    </span>
                </div>
                <i class="zmdi zmdi-washing-machine tile-icon"></i>
            </article>
        </a>
        <a href="/Venta/IndexVenta/" class="full-width">
            <article class="full-width tile">
                <div class="tile-text">
                    <span class="text-condensedLight" style="font-size:40px">
                        <small class="text-condensedLight" id="numVentas">84849</small><br>
                        <small>Ventas</small>
                    </span>
                </div>
                <i class="zmdi zmdi-shopping-cart tile-icon"></i>
            </article>
        </a>
        
    </section>    
</section>

@*<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>*@
@*<script>window.jQuery || document.write('<script src="~js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="~js/jquery-1.11.2.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="~/js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="~/js/material.min.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
        $(document).ready(function () {
            var jsonProveedores = '@Context.Session.GetString("proveedores")';
            jsonProveedores = jsonProveedores.replaceAll('&quot;', '"');
            var lstProveedores = JSON.parse(jsonProveedores);

            var jsonCategoria = '@Context.Session.GetString("categorias")';
            jsonCategoria = jsonCategoria.replaceAll('&quot;', '"');
            var lstCategoria = JSON.parse(jsonCategoria);

            var jsonUsuarios = '@Context.Session.GetString("usuarios")';
            jsonUsuarios = jsonUsuarios.replaceAll('&quot;', '"');
            var lstUsuarios = JSON.parse(jsonUsuarios);

            var jsonClientes = '@Context.Session.GetString("clientes")';
            jsonClientes = jsonClientes.replaceAll('&quot;', '"');
            var lstClientes = JSON.parse(jsonClientes);

            var jsonProducto = '@Context.Session.GetString("productos")';
            jsonProducto = jsonProducto.replaceAll('&quot;', '"');
            var lstProductos = JSON.parse(jsonProducto);

            console.log(lstProveedores.length);
            document.getElementById("numProveedores").innerHTML = lstProveedores.length;
            document.getElementById("numCategorias").innerHTML = lstCategoria.length;
            document.getElementById("numUsuarios").innerHTML = lstUsuarios.length;
            document.getElementById("numClientes").innerHTML = lstClientes.length;
            document.getElementById("numProductos").innerHTML = lstProductos.length;


        });
</script>
@*<script>
        var jsonUsuario = '@Context.Session.GetString("usuario")';
        jsonUsuario = jsonUsuario.replaceAll('&quot;', '"');
        var objUsuario = JSON.parse(jsonUsuario);
        $(document).ready(function () {

            var tituloContent = '<h3 class="display-8"> Bienvenido ' +objUsuario.Nombre + " " + objUsuario.Apellido+ '</h3>';
            var d1 = document.querySelector('#divTitulo');
            d1.insertAdjacentHTML('beforeend', tituloContent)

        });

    </script>*@