﻿@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <div class="text-center">
        <h1 class="display-9">Permisos insuficientes</h1>
    </div>
    <div class="text-left" style="padding-top:3em">
        <h4>No tiene permiso para ver esta pagina</h4>
    </div>
</div>
    
