﻿@using Microsoft.AspNetCore.Http
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/normalize.css">
<link rel="stylesheet" href="~/css/sweetalert2.css">
<link rel="stylesheet" href="~/css/material.min.css">
<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="~/css/main.css">

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">EMPRESA</h3>
    </section>
    <div class="container" style="border:0.5px solid blue">
        <div class="row" style="padding:1em 0em">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <p>Razon social:</p>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" id="txtRazonS" readonly placeholder="">
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <p>NIT:</p>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" id="txtNIT" readonly placeholder="">
            </div>
        </div>
        <div class="row" style="padding:1em 0em">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <p>Dirección:</p>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" id="txtDireccion" readonly placeholder="">
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <p>Estado SAT:</p>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" value="VIGENTE" readonly placeholder="">
            </div>
        </div>

        <div class="row" style="padding:1em 0em">
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <p>Numero de establecimientos:</p>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" id="txtNumEstablecimiento" readonly placeholder="">
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <p>FechaInicio:</p>
            </div>
            <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                <input type="text" class="form-control" id="txtFecha" readonly placeholder="">
            </div>
        </div>
    </div>
    

</section>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>window.jQuery || document.write('<script src="~/js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="~/js/material.min.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>

<script>
        $(document).ready(function () {
            var jsonEmpresa = '@Context.Session.GetString("empresa")';
            jsonEmpresa = jsonEmpresa.replaceAll('&quot;', '"');
            var objEmpresa = JSON.parse(jsonEmpresa);

            var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
            jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
            var lstEstablecimientos = JSON.parse(jsonEstablecimiento);
                        
            document.getElementById("txtRazonS").value = objEmpresa.RazonSocial;
            document.getElementById("txtDireccion").value = objEmpresa.Direccion;
            document.getElementById("txtNIT").value = objEmpresa.NIT;
            document.getElementById("txtFecha").value = objEmpresa.FechaCreacion;
            document.getElementById("txtNumEstablecimiento").value = lstEstablecimientos.length;


        });
</script>