﻿@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.6/css/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.2/css/all.css">
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/normalize.css">
<link rel="stylesheet" href="~/css/sweetalert2.css">
<link rel="stylesheet" href="~/css/material.min.css">
<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="~/css/main.css">
@using Microsoft.AspNetCore.Http
<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">EDITAR PRODUCTO</h3>
    </section>

    <div class="container">

        <div class="row">
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group row" style="display: none;">
                    <label class="col-sm-6 col-form-label">Titulo de pagina:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtIDucto" placeholder="Ingrese Titulo">
                        <input type="text" class="form-control" id="txtIdentificador_1_1" placeholder="Ingrese Titulo">
                        <input type="text" class="form-control" id="txtIDPagina_1_1" placeholder="Ingrese Titulo">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">ID Producto:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtIDProducto" placeholder="Ingrese ID">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Nombre:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese Nombre">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Descripcion:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese Descripcion">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">CodigoEAN:</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtEAN" placeholder="Ingrese Codigo">
                    </div>
                </div>


                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <label>Imagen de producto</label>
                        <input type="file" class="form-control-file inputfile" id="exampleFormControlFile_4" accept=".jpg">
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <img id="imgLogoPrev4" src="#" class="img-thumbnail d-none DIVLS4" style="border-style: solid" />
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        @*<label>Agregar inventario</label>
                <input type="file" class="form-control-file inputfile" id="exampleFormControlFile_4" accept=".jpg">*@
                    </div>
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <button type="button" onclick="openModal()" class="btn btn-secondary " style="margin-top:1em">Agregar inventario</button>
                    </div>
                </div>


                <button type="button" onclick="EditProd()" class="btn btn-warning btn-lg" style="margin-top:1em">Editar</button>
            </div>
            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Precio Costo</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtPrecioC" placeholder="Ingrese precio costo">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Precio Venta</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtPrecioV" placeholder="Ingrese precio venta">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">Precio Minimo</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtPrecioM" placeholder="Ingrese precio minimo">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-6 col-form-label">FechaVencimiento</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" id="txtFecha" placeholder="YYYY/MM/DD">
                    </div>
                </div>

                <label class="col-sm-6 col-form-label">Establecimiento:</label>
                <div class="col-sm-12">
                    <select id="ddlEstablecimiento" class="form-control">
                    </select>
                </div>
                <label class="col-sm-6 col-form-label">Categoria:</label>
                <div class="col-sm-12">
                    <select id="ddlCategoria" class="form-control">
                    </select>
                </div>
            </div>
        </div>


    </div>

</section>

<div class="modal fade bd-example-modal-lg" id="myModal" role="dialog" data-target="myModal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtMTitulo">Agregar inventario</h4>
            </div>
            <div class="modal-body">
                <div id="divADDCat">
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Proveedor:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <select id="ddlProveedores" class="form-control">
                                <option value="" disabled selected>Seleciona un proveedor</option>>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Documento:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtMDoc" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Cantidad:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtMCantidad" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                            <p>Observaciones:</p>
                            <textarea class="form-control" id="txtMObservaciones" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Agregar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
    <script>window.jQuery || document.write('<script src="~/js/jquery-1.11.2.min.js"><\/script>')</script>
    <script src="~/js/material.min.js"></script>
    <script src="~/js/sweetalert2.min.js"></script>
    <script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/js/main.js"></script>
    <script>
  var jsonResponse;
    $(document).ready(function () {


        var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
        jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
        var lstEstablecimiento = JSON.parse(jsonEstablecimiento);

        var jsonCat = '@Context.Session.GetString("categorias")';
        jsonCat = jsonCat.replaceAll('&quot;', '"');
        var lstCat = JSON.parse(jsonCat);

        lstEstablecimiento.forEach(function (element) {
            var y = document.getElementById("ddlEstablecimiento");
            var option = document.createElement("option");
            option.text = element.IDEstablecimiento + "- " + element.NombreComercial;
            option.value = element.IDEstablecimiento;
            y.add(option);
        });;

        //lstCat.forEach(function (element) {
        //    var y = document.getElementById("ddlCategoria");
        //    var option = document.createElement("option");
        //    option.text = element.Categoria;
        //    option.value = element.IDCategoria;
        //    y.add(option);
        //});;
        
        $('#exampleFormControlFile_4').on('input', function (e) {
            previewLogoFile4();
        });

        var jsonProveedores = '@Context.Session.GetString("proveedores")';
        jsonProveedores = jsonProveedores.replaceAll('&quot;', '"');
        var lstProveedores = JSON.parse(jsonProveedores);


        lstProveedores.forEach(function (element) {
            var y = document.getElementById("ddlProveedores");
            var option = document.createElement("option");
            option.text = element.Nombre;
            option.value = element.IDProveedor;
            y.add(option);
        });;

        var queryString = window.location.search;
        var urlParams = new URLSearchParams(queryString);
        var product = urlParams.get('idPrd');

        var reque = {
            "IDProducto": product
        };
        $.ajax({
            url: "/ProductoDetalle/PRODUCTOBYID",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono EditCliente", data);
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    console.log(jsonResponse);
                    document.getElementById("txtNombre").value = jsonResponse.Producto.Nombre;
                    document.getElementById("txtDescripcion").value = jsonResponse.Producto.Descripcion;
                    document.getElementById("txtPrecioV").value = jsonResponse.Producto.PrecioVenta;
                    document.getElementById("txtPrecioC").value = jsonResponse.Producto.PrecioCosto;
                    document.getElementById("txtPrecioM").value = jsonResponse.Producto.PrecioMinimo;
                    document.getElementById("txtFecha").value = jsonResponse.Producto.FechaCreacion;
                    document.getElementById("txtEAN").value = jsonResponse.Producto.CodigoEAN;
                    document.getElementById("txtIDProducto").value = jsonResponse.Producto.IDProducto;
                    document.getElementById("ddlEstablecimiento").selectedIndex = jsonResponse.Producto.IDEstablecimiento;
                    //document.getElementById("ddlCategoria").selectedIndex = jsonResponse.Producto.IDCategoria;

                    lstCat.forEach(function (element) {
                        var y = document.getElementById("ddlCategoria");
                        var option = document.createElement("option");
                        option.text = element.Categoria;
                        option.value = element.IDCategoria;
                        y.add(option);
                        if (jsonResponse.Producto.IDCategoria == option.value) {
                            option.selected;
                        }
                    });;

                } else {
        
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

        //MapeoProducto(lstProductos, lstCategoria);

    });
    function previewLogoFileA4() {
        try {
            $(".DIVLS8").removeClass("d-none");
            $(".DIVLS8").addClass("d-flex");
            $('#imgLogoPrevA4')
                .width("40%")

        } catch (err) {
            document.getElementById("imgLogoPrevA4").src = "";
        }

    }

    function openModal() {
        $('#myModal').modal('show');
    }
    function CheckParams() {
        var idCat = parseInt(document.getElementById("ddlCategoria").value);
        var titulo = document.getElementById("txtTitulo").value;
        var descripcion = document.getElementById("txtDescripcion").value;
        var caracteristica = document.getElementById("txtCaracteristica").value;
        var selectedFile1 = document.getElementById("exampleFormControlFile_1").files[0];
        var selectedFile2 = document.getElementById("exampleFormControlFile_2").files[0];
        var selectedFile3 = document.getElementById("exampleFormControlFile_3").files[0];
        var selectedFile4 = document.getElementById("exampleFormControlFile_4").files[0];
        let error_array = [];
        var ok = false;
        if (!idCat) {
            error_array.push('El campo "Categoria" no puede venir vacio');
        }
        if (!titulo) {
            error_array.push('El campo "Titulo" no puede venir vacio');
        }
        if (!descripcion) {
            error_array.push('El campo "Descripcion" no puede venir vacio');
        }
        if (!caracteristica) {
            error_array.push('El campo "Caracteristicas" no puede venir vacio');
        }
        if (!selectedFile1) {
            error_array.push('El campo "Icono Producto" no puede venir vacio');
        }
        if (!selectedFile2) {
            error_array.push('El campo "Imagen de titulo" no puede venir vacio');
        }
        if (!selectedFile3) {
            error_array.push('El campo "Imagen de producto 1" no puede venir vacio');
        }
        if (!selectedFile4) {
            error_array.push('El campo "Imagen de producto 2" no puede venir vacio');
        }
        if (error_array.length == 0) {
            console.log("Verdadero");
            ADDProducto();
        } else {
            var text = "";
            console.log("falso");
            console.log(error_array.length.toString());
            error_array.forEach(function (elemento) {
                text = text + elemento + "\n";
            })
            alert("" + text);
        }


    }
    function EditProd() {
        var idCat = parseInt(document.getElementById("ddlCategoria").value);
        var esta = parseInt(document.getElementById("ddlEstablecimiento").value);
        var nombre = document.getElementById("txtNombre").value;
        var descripcion = document.getElementById("txtDescripcion").value;
        var preciov = document.getElementById("txtPrecioV").value;
        var precioc = document.getElementById("txtPrecioC").value;
        var preciom = document.getElementById("txtPrecioM").value;
        var fecha = document.getElementById("txtFecha").value;
        var COD = document.getElementById("txtEAN").value;
        var idprod = document.getElementById("txtIDProducto").value;
        var imagen = "imagen.jpg";
        //
        var idprov = parseInt(document.getElementById("ddlProveedores").value);
        var cant = parseInt(document.getElementById("txtMCantidad").value);
        var doc = document.getElementById("txtMDoc").value;
        var obs = document.getElementById("txtMObservaciones").value;

        var reque = `{
                    "Producto": {
                         "IDProducto": "`+ idprod + `", "Descripcion": "` + descripcion + `", "Nombre": "` + nombre + `", "Imagen": "` + imagen + `",
            "ImagenData": "`+ imagen + `", "IDCategoria": ` + idCat + `, "PrecioVenta": ` + preciov + `, "PrecioMinimo": ` + preciom + `,
            "PrecioCosto": `+ precioc + `, "CodigoEAN": "` + COD + `", "FechaVencimiento": "` + fecha + `", "Observaciones": "", "IDEstablecimiento":` + esta + `
                    },
                    "MovInvProducto":{
                        "IDMovInvProducto": 0,
                        "Fecha": "",
                        "Documento": "`+ doc + `",
                        "Cantidad": `+ cant + `,
                        "PrecioUnitario": 0,
                        "IDProducto": "`+ idprod + `",
                        "Observaciones": "`+ obs + `",
                        "IDCorte": 0,
                        "IDTipoMovProducto": 1,
                        "IDTransaccion": 0,
                        "IDUsuario": 0,
                        "IDProveedor": `+ idprov + `,
                }}`
        //listG.forEach(function (element) {
        //    console.log("Entro al for each");
        //    console.log(element);
        //    if (element.identificador == 1) {
        //        var arry_Nombre = element.imgBase64.split(",");
        //        console.log(arry_Nombre);
        //        imgIcono = arry_Nombre[1];
        //        nimgIcono = element.nombre;
        //    }
        //    if (element.identificador == 2) {
        //        var arry_Nombre = element.imgBase64.split(",");
        //        imgTitulo = arry_Nombre[1];
        //        nimgTitulo = element.nombre;
        //    }
        //    if (element.identificador == 3) {
        //        var arry_Nombre = element.imgBase64.split(",");
        //        imgProducto = arry_Nombre[1];
        //        nimgProducto = element.nombre;
        //    }
        //    if (element.identificador == 4) {
        //        var arry_Nombre = element.imgBase64.split(",");
        //        imgProducto2 = arry_Nombre[1];
        //        nimgProducto2 = element.nombre;
        //    }
        //});;
        ////var ok = CheckImagen(listG);
        //if (ok) {
        //    var reque = {
        //        "idProducto": 0, "descripcion": descripcion, "titulo": titulo, "caracteristica": caracteristica, "imgTitulo": imgTitulo,
        //        "imgIcono": imgIcono, "imgProducto": imgProducto, "imgProducto2": imgProducto2
        //        , "idCategoria": idCat, "NombreImgTitulo": nimgTitulo, "NombreImgIcono": nimgIcono,
        //        "NombreImgProducto": nimgProducto, "NombreImgProducto2": nimgProducto2, "idUsuario": objUsuario.IDUsuario
        //    };
        //    console.log(reque);

        //}
        $.ajax({
            url: "/ProductoDetalle/EDIT",
            type: "post",
            dataType: "json",
            data: { "jsonR": reque},
            success: function (data) {
                console.log(typeof data);
                console.log("Data del response", data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    alert(jsonResponse.Descripcion);
                } else {
                    alert(jsonResponse.Descripcion);
                    document.getElementById("txtNombre").value="";
                    document.getElementById("txtDescripcion").value="";
                    document.getElementById("txtPrecioV").value="";
                    document.getElementById("txtPrecioC").value="";
                    document.getElementById("txtPrecioM").value="";
                    document.getElementById("txtFecha").value="";
                    document.getElementById("txtEAN").value = "";
                    document.getElementById("txtIDProducto").value = "";
                }

            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
    function CheckImagen(listG) {
        ok = false;
        let error_array = [];
        listG.forEach(function (element) {
            var campo;
            if (element.identificador == 1) { campo = "Icono producto";}
            if (element.identificador == 2) { campo = "Imagen de titulo"; }
            if (element.identificador == 3) { campo = "Imagen de producto 1"; }
            if (element.identificador == 4) { campo = "Imagen de producto 2"; }


            if (element.size > 3000) {
                error_array.push('-'+campo+': el tamaño de la imagen superan los 3MB permitidos.');
            }

            if (element.formato.toUpperCase() != "PNG" && element.formato.toUpperCase() != "JPEG" && element.formato.toUpperCase() != "JPG") {
                error_array.push('-' +campo +': el formato del archivo no es valido (Unicamente JPG y PNG).');
            }

        });

        if (error_array.length == 0) {
            console.log("Verdadero");
            ok = true;
        } else {
            var text = "";
            console.log(error_array.length.toString());
            error_array.forEach(function (elemento) {
                text = text + elemento + "\n";
            })
            alert("" + text);
        }
        return ok;


    }
    function previewLogoFile1() {
        try {
            const selectedFile = document.getElementById('exampleFormControlFile_1').files[0];
            var oFile = selectedFile;
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".DIVLS1").removeClass("d-none");
                $(".DIVLS1").addClass("d-flex");
                $('#imgLogoPrev1')
                    .attr('src', e.target.result)
                    .width("40%")
            };
            reader.readAsDataURL(oFile);

        } catch (err) {
            document.getElementById("imgLogoPrev1").src = "";
            alert('Seleccione una imagen', 'Error');


        }

    }
    function previewLogoFile2() {
        try {
            const selectedFile = document.getElementById('exampleFormControlFile_2').files[0];
            var oFile = selectedFile;
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".DIVLS2").removeClass("d-none");
                $(".DIVLS2").addClass("d-flex");
                $('#imgLogoPrev2')
                    .attr('src', e.target.result)
                    .width("40%")
            };
            reader.readAsDataURL(oFile);

        } catch (err) {
            document.getElementById("imgLogoPrev2").src = "";
            alert('Seleccione una imagen', 'Error');

        }

    }
    function previewLogoFile3() {
        try {
            const selectedFile = document.getElementById('exampleFormControlFile_3').files[0];
            var oFile = selectedFile;
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".DIVLS3").removeClass("d-none");
                $(".DIVLS3").addClass("d-flex");
                $('#imgLogoPrev3')
                    .attr('src', e.target.result)
                    .width("40%")
            };
            reader.readAsDataURL(oFile);

        } catch (err) {
            document.getElementById("imgLogoPrev3").src = "";
            alert('Seleccione una imagen', 'Error');

        }

    }
    function previewLogoFile4() {
        try {
            const selectedFile = document.getElementById('exampleFormControlFile_4').files[0];
            var oFile = selectedFile;
            var reader = new FileReader();
            reader.onload = function (e) {
                $(".DIVLS4").removeClass("d-none");
                $(".DIVLS4").addClass("d-flex");
                $('#imgLogoPrev4')
                    .attr('src', e.target.result)
                    .width("40%")
            };
            reader.readAsDataURL(oFile);

        } catch (err) {
            document.getElementById("imgLogoPrev4").src = "";
            alert('Seleccione una imagen', 'Error');

        }

    }
    $('input[type="file"]').on('change', function () {
        //$('input[type="file"]').each(function () {
        //    alert($(this).val());
        //    console.log(this);
        //    console.log(this.id);

        //});
        var idName = this.id;
        var arry_Nombre = idName.split("_");
        imgNombre = arry_Nombre[1];
        Main(idName, parseInt(arry_Nombre[1]));

    });
    const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(reader.result);
        reader.onerror = error => reject(error);
    });

    async function Main(name, num) {
        var selectedFile = document.getElementById(name).files[0];
        if (selectedFile) {
            var oFile = selectedFile;
            imgNombre = oFile.name;
            var siezekiloByte = parseInt(selectedFile.size / 1024);
            var arry_Nombre = imgNombre.split(".");
            var index = arry_Nombre.length - 1;
            console.log(siezekiloByte);
            console.log(arry_Nombre[index]);
            var test = await toBase64(selectedFile);
             console.log(test);
            var obj = {
                "nombre": imgNombre, "imgBase64": test, "identificador": num, "formato": arry_Nombre[index],
                "size": siezekiloByte
            };
            listG[num] = obj;
            console.log(obj);
            return obj;
        } else {
            console.log("name viene nulo" + name);
            return obj;

        }
    }

    function previewLogoFileA1() {
        try {
            $(".DIVLS1").removeClass("d-none");
            $(".DIVLS1").addClass("d-flex");
            $('#imgLogoPrevA1')
                .width("40%")

        } catch (err) {
            document.getElementById("imgLogoPrevA1").src = "";
        }

    }
    function previewLogoFileA2() {
        try {
            $(".DIVLS2").removeClass("d-none");
            $(".DIVLS2").addClass("d-flex");
            $('#imgLogoPrevA2')
                .width("40%")

        } catch (err) {
            document.getElementById("imgLogoPrevA2").src = "";
        }

    }
    function previewLogoFileA3() {
        try {
            $(".DIVLS3").removeClass("d-none");
            $(".DIVLS3").addClass("d-flex");
            $('#imgLogoPrevA3')
                .width("40%")

        } catch (err) {
            document.getElementById("imgLogoPrevA3").src = "";
        }

    }
    function previewLogoFileA4() {
        try {
            $(".DIVLS4").removeClass("d-none");
            $(".DIVLS4").addClass("d-flex");
            $('#imgLogoPrevA4')
                .width("40%")

        } catch (err) {
            document.getElementById("imgLogoPrevA4").src = "";
        }

    }
    function MapImagenes(producto) {
        console.log("MAP IMAGENES");
        console.log(producto);

        document.getElementById("imgLogoPrevA1").src = producto.imgIcono;
        previewLogoFileA1();
        $("#txtMTituloA1").html(producto.nombreImgIcono);

        document.getElementById("imgLogoPrevA2").src = producto.imgTitulo;
        previewLogoFileA2();
        $("#txtMTituloA2").html(producto.nombreImgTitulo);

        document.getElementById("imgLogoPrevA3").src = producto.imgProducto;
        previewLogoFileA3();
        $("#txtMTituloA3").html(producto.nombreImgProducto);

        document.getElementById("imgLogoPrevA4").src = producto.imgProducto2;
        previewLogoFileA4();
        $("#txtMTituloA4").html(producto.nombreImgProducto2);



    }

    $(function () {
        $("[id*=txtFechaFin]").datepicker({
            // Escape any “rule” characters with an exclamation mark (!).
            dateFormat: 'yy-mm-dd',
            dayNamesMin: ["DO", "LU", "MA", "MI", "JU", "VI", "SA"],
            monthNames: ["ENE", "FEB", "MAR", "ABRI", "MAY", "JUN", "JUL", "AGO", "SEP", "OCT", "NOV", "DIC"]
            //monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Noviembre', 'Diciembre']
            //dayNames: ['Enero', 'Febrero', 'Tu', 'We', 'Th', 'Fr', 'Sa'],
        })

    });

    </script>
