﻿@using Microsoft.AspNetCore.Http

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">ESTABLECIMIENTOS</h3>
    </section>
    <div style="padding: 0em 2em">
        @*<button class="btn btn-secondary float-right" id="btnADD" onclick="openModal(1)">Agregar +</button>*@
        <div id="divTabla">
            <table id="tblEstablecimientos" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%;">
                <thead>
                    <tr>
                        <th style="width:15%">CodigoSAT</th>
                        <th style="width:20%">Nombre Comercial</th>
                        <th style="width:20%">Direccion</th>
                        <th style="width:15%">Estado</th>
                        <th style="width:15%">Accion</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
    </div>

</section>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    $(document).ready(function () {
        var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
            jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
        var lstEstablecimientos = JSON.parse(jsonEstablecimiento);
        MapeoEstablecimiento(lstEstablecimientos);

    });
    function MapeoEstablecimiento(cat) {
        console.log("MapeoEstablecimiento ");
        console.log(cat);
        $('#tblEstablecimientos tbody tr').remove();
        //$('#tblBeneficio').DataTable().destroy();

        //var esconderE = " style='display:none;'"
        //var esconderEli = " style='display:none;'"

        var esconderE = "";
        var esconderEli = "";
        //if (BEditar) {
        //    esconderE = "";
        //}
        //if (BEliminar) {
        //    esconderEli = "";
        //}
        var buton = "<button onclick='openModal(2,this)' id='btnEdit' " + esconderE + " class='btn'><i class='fas fa-edit'></i></button><button id='btnDelete' " + esconderEli + " onclick='DeleteCategoria(this)' class='btn'><i class='far fa-trash-alt'></i></button>";
        cat.forEach(elementP => {
            var img = "<img src='" + elementP.img + "' class='img-thumbnail' alt='img'>";
            console.log(img);
            $("<tr><td id='tdCodigoSAT' data-name='tdCodigoSAT'>" + elementP.CodigoSAT + "</td><td id='tdNombreC' data-name='tdNombreC'>" + elementP.NombreComercial + "</td><td id='tdDireccion' data-name='tdDireccion'>" + elementP.Direccion + "</td><td id='tdImg' data-name='tdImg'>" + "ACTIVO" + "</td><<td>" + elementP.Telefono + "</td>" + "</tr>").appendTo("#tblEstablecimientos")

        })
        //$('#tblBeneficio').DataTable().draw();
        $('#tblEstablecimientos').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        });
    }
</script>