﻿@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
      crossorigin="anonymous">
<title>Convert excel to JSON Object</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.2/xlsx.full.min.js"></script>
@using Microsoft.AspNetCore.Http
<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 5px 0;">
        <h4 class="text-center tittles">PRODUCTOS</h4>
    </section>
    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <select id="ddlCategoria" class="form-control" onchange="myFunction()">
                <option value="" disabled selected>Seleciona un establecimiento</option>>
            </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

            <div class="row">
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">

                </div>
                <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1">

                </div>
                <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                    <button class="btn btn-secondary float-right" id="button" onclick="ADDProducto()">Nuevo producto</button>
                </div>


            </div>
            @*<label>Carga por excel</label>
                <input class="form-control" type="file" id="input" accept=".xls,.xlsx">*@

            @*<button class="btn btn-secondary float-right" id="btnADD" style="" onclick="ADDProducto()">Agregar +</button>*@
            @*<button class="btn btn-secondary float-right" id="button" onclick="ask()">Agregar productos</button>*@
        </div>

    </div>
    <div class="row" style="padding: 1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>Carga por excel de inventario</label>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <input class="form-control" type="file" id="input" accept=".xls,.xlsx">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <button class="btn btn-secondary float-right" id="button" onclick="ask()">Agregar inventario</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <label>Carga por excel de producto</label>
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <input class="form-control" type="file" id="input2" accept=".xls,.xlsx">
                </div>
                <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                    <button class="btn btn-secondary float-right" id="button" onclick="ask2()">Agrega productos</button>
                </div>
            </div>
        </div>


    </div>

    @*<div class="row" style="padding:2em">
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row">
                    <select id="ddlCategoria" class="form-control" onchange="myFunction()">
                        <option value="" disabled selected>Seleciona un establecimiento</option>>
                    </select>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p>Carga de inventario por excel:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="file" id="input" accept=".xls,.xlsx">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <button class="btn btn-secondary float-right" id="button" onclick="ask()">Cargar existencia</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                        <p>Carga de productos por excel:</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
                        <input class="form-control" type="file" id="input2" accept=".xls,.xlsx">
                    </div>
                    <div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
                        <button class="btn btn-secondary float-right" id="button" onclick="ask()">Cargar productos</button>
                    </div>
                </div>
            </div>

        </div>*@


    <div id="divTabla" style="padding: 1em 2em">
        <table id="tblProducto" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
            <thead>
                <tr>
                    <th style="width:5%">ID</th>
                    <th style="width:10%">Nombre</th>
                    <th style="width:10%">Descripcion</th>
                    <th style="width:10%">Cantidad</th>
                    <th style="width:10%">Categoria</th>
                    <th style="width:10%">Imagen</th>
                    <th style="width:10%">Accion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>

<div class="col-md-12" style='display:none;'>
    <pre id="jsondata"></pre>
</div>
<div class="modal fade bd-example-modal-xl" id="myModal" role="dialog">
    <div class="modal-dialog modal-xl">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div class="text-center">
                    <h4 class="modal-title">Agregar producto</h4>
                </div>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <div class="form-group row" style="display: none;">
                            <label class="col-sm-6 col-form-label">Titulo de pagina:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtIDProducto" placeholder="Ingrese Titulo">
                                <input type="text" class="form-control" id="txtIdentificador_1_1" placeholder="Ingrese Titulo">
                                <input type="text" class="form-control" id="txtIDPagina_1_1" placeholder="Ingrese Titulo">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-6 col-form-label">1) Titulo:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtTitulo" placeholder="Ingrese Titulo">
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">2) Icono producto:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <label class="col-sm-6 col-form-label">3) Caracteristicas:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtCaracteristica" placeholder="Ingrese Titulo">
                            </div>
                            <label class="col-sm-6 col-form-label">4) Descripcion:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtDescripcion" placeholder="Ingrese Titulo">
                            </div>

                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">5) Imagen de titulo:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">6) Imagen de producto 1:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-6 col-form-label">7) Imagen de producto 2:</label>
                                <div class="col-sm-12">
                                    <input type="file" class="form-control-file">
                                </div>
                                <div id="divImg">

                                </div>
                            </div>
                            <label class="col-sm-6 col-form-label">Categoria:</label>
                            <div class="col-sm-12">
                                <input type="text" class="form-control" id="txtCategoria" placeholder="Ingrese Titulo">
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                        <p>Imagen 1</p>
                        <img src="~/Images/Prod_1.PNG" class="img-fluid" alt="Responsive image" width="100%">
                        <p>Imagen 2</p>
                        <img src="~/Images/Prod_2.PNG" class="img-fluid" alt="Responsive image" width="100%">
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                        <button type="button" class="btn btn-warning">Guardar</button>
                    </div>
                    <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    var jsonResponse;

    let selectedFile;
    let selectedFile2;
    console.log(window.XLSX);
    document.getElementById('input').addEventListener("change", (event) => {
        selectedFile = event.target.files[0];
        console.log("parte nueva", selectedFile)
    })
    document.getElementById('input2').addEventListener("change", (event) => {
        selectedFile2 = event.target.files[0];
        console.log("parte nueva", selectedFile2)
    })

    let data = [{
        "name": "jayanth",
        "data": "scd",
        "abc": "sdef"
    }]



    $(document).ready(function () {


        var reque = {
            "IDProducto": 0
        };
        $.ajax({
            url: "/Producto/Load",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono EditCliente", data);
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {

                } else {
                    alert(jsonResponse.descripcion);
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

        var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
        jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
        var lstEstablecimiento = JSON.parse(jsonEstablecimiento);


        lstEstablecimiento.forEach(function (element) {
            var y = document.getElementById("ddlCategoria");
            var option = document.createElement("option");
            option.text = element.IDEstablecimiento + "- " + element.NombreComercial;
            option.value = element.IDEstablecimiento;
            y.add(option);
        });;



        //MapeoProducto(lstProductos, lstCategoria);

    });

    function showInfo(parametro) {

        var rowID = parametro.closest("tr").rowIndex;
        var idprod = $("#tblProducto tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDProd").innerHTML;
        window.location.href = '/ProductoDetalle/IndexProductoDetalle?idPrd=' + idprod;


    };
    function ADDProducto() {

        window.location.href = '/ProductoA/IndexProductoA/';


    };
    function myFunction() {
        var x = document.getElementById("ddlCategoria").value;
        console.log(x);
        var jsonProducto = '@Context.Session.GetString("productos")';
        jsonProducto = jsonProducto.replaceAll('&quot;', '"');
        var lstProductos = JSON.parse(jsonProducto);


        var jsonCategoria = '@Context.Session.GetString("categorias")';
        jsonCategoria = jsonCategoria.replaceAll('&quot;', '"');
        var lstCategoria = JSON.parse(jsonCategoria);

        MapeoProducto(lstProductos, lstCategoria,x);

    }

    function MapeoProducto(prod, cat,idesta) {
        console.log("Categoria ", cat);
        $('#tblProducto tbody tr').remove();
        console.log(cat);
        //var esconderE = " style='display:none;'"
        //var esconderEli = " style='display:none;'"
        var esconderE = " ";
        var esconderEli = "";
        //if (BEditar) {
        //    esconderE = "";
        //}
        //if (BEliminar) {
        //    esconderEli = "";
        //}
        //$('#tblBeneficio').DataTable().des
        var buton = "<button onclick='showInfo(this)' " + esconderE + " class='btn'><i class='fas fa-edit'></i></button><button onclick='DeleteProducto(this)' " + esconderEli + " class='btn'><i class='far fa-trash-alt'></i></button>";
        var lstProducto = prod;
        (lstProducto).forEach(elementP => {
            if (elementP.IDEstablecimiento == idesta) {
                var objCat = cat.find(x => x.IDCategoria == elementP.IDCategoria);
                console.log("ObjCAT: " + objCat);
                console.log("element ", elementP);
                var img = "<img src='" + "p1.jpg" + "' class='img-fluid img-thumbnail' alt='img'>";
                $("<tr><td id='tdIDProd' data-name='tdIDProd'>" + elementP.IDProducto + "</td><td>" + elementP.Nombre + "</td>" + "<td><p class='text-justify'>" + elementP.Descripcion + "</p></td>" + "<td>" + elementP.Cantidad + "</td></td>" + "<td>" + objCat.Categoria + "</td><td class= 'w-25'>" + img + "</td ><td> " + buton + "</td>" + "</tr>").appendTo("#tblProducto")
            //$("<tr><td id='celldesc' data-name='celldesc'>" + elementP.IDProducto + "</td><td class='w-25'>" + img + "</td>" + "<td style='width:14.28%'><input type='text' class='form-control' value='" + elementP.Nombre + "' readonly></td>" + "<td>" + elementP.Categoria + "</td>" + "<td>" + elementP.SubCategoria + "</td>" + "<td>" + elementP.Precio + "</td>" + "<td>" + buton + "</td>" + "</tr>").appendTo("#example")
            }

        });
        $('#tblProducto').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        });
    };
    function openModal() {
        $('#myModal').modal('show');
    }
    function DeleteProducto(parametro) {
        var rowID = parametro.closest("tr").rowIndex;

        if (confirm('Esta seguro de borrar el producto, se borrara testimonial, beneficios, iconos, etc?')) {

            console.log(rowID);
            var indexRow = rowID - 1;
            var idprod = $("#tblProducto tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDProd").innerHTML;
            console.log("El ID DEL PRODUCTO ES:" + idprod);
            var reque = {
                "idProducto": idprod, "descripcion": ""
            };
            $.ajax({
                url: "/Producto/DELETE",
                type: "POST",
                dataType: "json",
                data: { "jsonR": JSON.stringify(reque)},
                success: function (data) {
                    console.log("Funciono DeleteBYID", data);
                    jsonResponse = JSON.parse(data);
                    if (jsonResponse.Respuesta == 1) {
                        alert(jsonResponse.Descripcion);
                        MapeoProducto(jsonResponse.Producto, jsonResponse.Categoria);

                    } else {
                        alert("Hubo un error, intente nuevamente");
                    }

                },
            });
        } else {
            // Do nothing!
            console.log('Thing was not saved to the database.');
        }

    };

    //document.querySelector('input').addEventListener('change', function () {

    //    var reader = new FileReader();
    //    reader.onload = function () {

    //        var arrayBuffer = this.result,
    //            array = new Uint8Array(arrayBuffer),
    //            binaryString = String.fromCharCode.apply(null, array);

    //        console.log(binaryString);
    //        ask(binaryString);

    //    }
    //    reader.readAsArrayBuffer(this.files[0]);

    //}, false);

    function ask() {

        if (selectedFile) {
            var txt;
            var r = confirm("Desea subir el archivo?");
            if (r == true) {
                XLSX.utils.json_to_sheet(data, 'out.xlsx');
                if (selectedFile) {
                    let fileReader = new FileReader();
                    fileReader.readAsBinaryString(selectedFile);
                    fileReader.onload = (event) => {
                        let data = event.target.result;
                        let workbook = XLSX.read(data, { type: "binary" });
                        console.log(workbook);
                        workbook.SheetNames.forEach(sheet => {
                            let rowObject = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheet]);
                            document.getElementById("jsondata").innerHTML = JSON.stringify(rowObject, undefined, 4)
                            console.log("objeto final", rowObject);
                            var request = `{"Inventario":` + JSON.stringify(rowObject, undefined, 4) + `}`;
                            $.ajax({
                                url: "/Producto/UploadInventario",
                                type: "POST",
                                dataType: "json",
                                data: { "jsonR": request},
                                success: function (data) {
                                    console.log("Funciono upload", data);
                                    jsonResponse = JSON.parse(data);
                                    if (jsonResponse.Respuesta == 1) {
                                        alert(jsonResponse.Descripcion);
                                        location.reload();


                                    } else {
                                        alert(jsonResponse.Descripcion);
                                    }

                                },
                            });

                        });
                    }
                }
            } else {
                console.log("no");
            }
        } else {
            alert("Selecione un archivo");
        }

    }
    function ask2() {

        if (selectedFile2) {
            var txt;
            var r = confirm("Desea subir el archivo?");
            if (r == true) {
                XLSX.utils.json_to_sheet(data, 'out.xlsx');
                if (selectedFile2) {
                    let fileReader = new FileReader();
                    fileReader.readAsBinaryString(selectedFile2);
                    fileReader.onload = (event) => {
                        let data = event.target.result;
                        let workbook = XLSX.read(data, { type: "binary" });
                        console.log(workbook);
                        workbook.SheetNames.forEach(sheet => {
                            let rowObject = XLSX.utils.sheet_to_row_object_array(workbook.Sheets[sheet]);
                            document.getElementById("jsondata").innerHTML = JSON.stringify(rowObject, undefined, 4)
                            console.log("objeto final", rowObject);
                            var request = `{"Productos":` + JSON.stringify(rowObject, undefined, 4) + `}`;
                            console.log(request);
                            $.ajax({
                                url: "/Producto/UploadProducto",
                                type: "POST",
                                dataType: "json",
                                data: { "jsonR": request },
                                success: function (data) {
                                    console.log("Funciono upload", data);
                                    jsonResponse = JSON.parse(data);
                                    if (jsonResponse.Respuesta == 1) {
                                        alert(jsonResponse.Descripcion);
                                        location.reload();


                                    } else {
                                        alert(json.Descripcion);
                                    }

                                },
                            });

                        });
                    }
                }
            } else {
                console.log("no");
            }
        } else {
            alert("Selecione un archivo");
        }

    }

    function CheckPermiso(lstPermiso) {
        var permisoCrear = lstPermiso.find(x => x.IDPermiso == 5);
        var permisoBorrar = lstPermiso.find(x => x.IDPermiso == 6);
        var permisoEditar = lstPermiso.find(x => x.IDPermiso == 7);
        var permisoVer = lstPermiso.find(x => x.IDPermiso == 8);

        if (permisoVer.IDEstado == 1) {
            document.getElementById("divTabla").style.display = "inline";
        }
        if (permisoCrear.IDEstado == 1) {
            document.getElementById("btnADD").style.display = "inline";
        }
        if (permisoEditar.IDEstado == 1) {
            BEditar = true;
        }
        if (permisoBorrar.IDEstado == 1) {
            BEliminar = true;
        }


        } function isObject(value) {
            return value && typeof value === 'object' && value.constructor === Object;
        }
</script>
