﻿@{
    ViewData["Title"] = "Home Page";
}
<head>

</head>
@using Microsoft.AspNetCore.Http
<div class="container-fluid">
    <div class="text-center">
        <h4 class="display-9">Usuario</h4>
    </div>

</div>
<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">USUARIOS</h3>
    </section>
    <button class="btn btn-secondary float-right" id="btnADD" onclick="openModal(1)">Agregar +</button>
    <div id="divTabla" style="padding: 0em 2em">
        <table id="tblUsuario" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
            <thead>
                <tr>
                    <th style="width:5%">ID</th>
                    <th style="width:10%">Nombre</th>
                    <th style="width:10%">Apellido</th>
                    <th style="width:10%">Estado</th>
                    <th style="width:12.5%">Usuario</th>
                    <th style="width:10%">Rol</th>
                    <th style="width:15%">Correo</th>
                    <th style="width:12.5%">Accion</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
<div class="modal fade bd-example-modal-lg" id="myModal" role="dialog" data-target="myModal">
    <div class="modal-dialog modal-lg">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="txtMTitulo"></h4>
            </div>
            <div class="modal-body">
                <div id="divADDUser" style="display:none">
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtANombre" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Apellido:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtAApellido" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Email:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtAEmail" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Usuario:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtAUsuario" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Rol:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <select id="ddlRolADD" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-warning" onclick="CheckParamsADD()">Agregar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="divEDITUser" style="display:none">
                    <div class="form-group row" style="display: none;">
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="txtIDUser">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Nombre:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtENombre" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Apellido:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtEApellido" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Email:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <input type="text" class="form-control" id="txtEEmail" placeholder="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Estado:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <select id="ddlEstado" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                            <p>Rol:</p>
                        </div>
                        <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                            <select id="ddlRol" class="form-control">
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <button type="button" class="btn btn-warning" onclick="CheckParamsEdit()">Editar</button>
                            </div>
                            <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    var idresponsabilidad;
    var array = "";
    var jsonResponse;
    var objEstado;

     var jsonUsuario = '@Context.Session.GetString("usuarios")';
    jsonUsuario = jsonUsuario.replaceAll('&quot;', '"');

    var jsonRoll = '@Context.Session.GetString("roles")';
    jsonRoll = jsonRoll.replaceAll('&quot;', '"');

    var objUsuario = JSON.parse(jsonUsuario);
    var objRoll = JSON.parse(jsonRoll);


    var BEditar = false;
    var BEliminar = false;
    var BCorreo = false;
    $(document).ready(function () {
        console.log(objUsuario);
        console.log(objRoll);
        MapeoUsuario(objUsuario, objRoll);
    });
    function isObject(value) {
        return value && typeof value === 'object' && value.constructor === Object;
    }
    function MapeoUsuario(usuarios,rol) {
        $('#tblUsuario tbody tr').remove();
        //$('#tblBeneficio').DataTable().destroy();
        //var esconderE = " style='display:none;'"
        //var esconderEli = " style='display:none;'"
        //var esconderC = " style='display:none;'"
        var esconderE = "'"
        var esconderEli = ""
        var esconderC = ""
        if (BEditar) {
            esconderE = "";
        }
        if (BEliminar) {
            esconderEli = "";
        }
        if (BCorreo) {
            esconderC = "";
        }
        console.log("valor de BEliminar " + BEliminar);
        console.log("valor de esconderE " + esconderE);

        console.log("valor de BEliminar " + BEditar);
        console.log("valor de esconderEli " + esconderEli);
        var buton = "<button id='btnEdit' " + esconderE + " onclick='openModal(2,this)' title='Editar registro' class='btn'><i class='fas fa-edit'></i></button><button id='btnEliminar' " + esconderEli + " title='Borrar registro' onclick='DeleteUser(this)' class='btn'><i class='far fa-trash-alt'></i></button><button " + esconderC + " title='Reinicio de contraseña' onclick='ResetUser(this)' class='btn'><i class='fas fa-inbox'></i></button>";

        usuarios.forEach(elementP => {

            //var objEstado = est.find(x => x.idEstado == elementP.idEstado);
            //console.log("array idusuario " + elementP.idUsuario + " objUsuario " + objUsuario.IDUsuario);
            var objRol = rol.find(x => x.IDRoll == elementP.IDRoll);

            if (elementP.IDUsuario) {
                $("<tr><td id='tdIDUsuario' data-name='tdIDUsuario'>" + elementP.IDUsuario + "</td><td id='tdNombre' data-name='tdNombre'>" + elementP.Nombre + "</td><td id='tdApellido' data-name='tdApellido'>" + elementP.Apellido + "</td><td id='tdEstatus' data-name='tdEstatus'>" + "algo" + "</td><td id='tdUser' data-name='tdUser'>" + elementP.User + "</td><td id='tdRol' value='" + objRol.IDRoll + "' data-name='tdRol'>" + objRol.Nombre + "</td><td id='tdEmail' data-name='tdEmail'>" + elementP.Email + "</td><td>" + buton + "</td>" + "</tr>").appendTo("#tblUsuario")
            }// else {
            //    if (objUsuario.User == "Administrador") {
            //        $("<tr><td id='tdIDUsuario' data-name='tdIDUsuario'>" + elementP.Nombre + " " + elementP.Apellido + "</td><td id='tdNombre' data-name='tdNombre'>" + elementP.User + "</td><td id='tdApellido' data-name='tdApellido'>" + elementP.Email + "</td><td id='tdEstatus' value='" + "Activo" + "' data-name='tdEstatus'>" + "dasda" + "</td><td id='tdUser' data-name='tdUser'>" + elementP.User + "</td><td id='tdRol' value='" + objRol.IDRoll + "' data-name='tdRol'>" + objRol.Nombre + "</td><td id='tdEmail' data-name='tdEmail'>" + elementP.Email + "</td><td>" + buton + "</td>" + "</tr>").appendTo("#tblUsuario")
            //    }

            //}


        })
        //$('#tblBeneficio').DataTable().draw();
        $('#tblUsuario').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        });
    }

    function DeleteUser(parametro) {
        var rowID = parametro.closest("tr").rowIndex;
        if (confirm('Esta seguro de borrar el usuario?')) {
            console.log(rowID);
            var id = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDUsuario").innerHTML;
            var reque = {
                "Apellido": "", "Email": "", "IDEmpresa": "0",
                "IDEstado": "0", "IDRoll": "0", "IDUsuario": id, "Nombre": "", "Password": "", "TempPass": "0", "User": ""
            };
            $.ajax({
                url: "/Usuario/DeleteBYID",
                type: "POST",
                dataType: "json",
                data: { "jsonR": JSON.stringify(reque) },
                success: function (data) {
                    console.log("Funciono DeleteUser", data);
                    console.log(typeof data);
                    var ok = isObject(data);
                    if (!ok) {
                        jsonResponse = JSON.parse(data);
                        if (jsonResponse.Respuesta == 1) {
                            MapeoUsuario(jsonResponse.usuarios, jsonResponse.estado, jsonResponse.rol);
                            alert(jsonResponse.descripcion);
                        } else {
                            alert("Hubo un error, intente nuevamente");
                        }
                    }
                    else {
                        alert("No cuenta con permisos para esta operación");
                    }
                },
            });
        } else {
            // Do nothing!
            console.log('Thing was not saved to the database.');
        }

    }
    function openModal(divID, parametro) {

        console.log("Entro a openModal" + divID);
        if (divID == 1) {
            $("#txtMTitulo").html('Agregar nuevo usuario');
            document.getElementById("divADDUser").style.display = "inline";
            document.getElementById("divEDITUser").style.display = "none";
        }
        if (divID == 2) {

            var rowID = parametro.closest("tr").rowIndex;
            $("#txtMTitulo").html('Editar usuario');
            document.getElementById("divEDITUser").style.display = "inline";
            document.getElementById("divADDUser").style.display = "none";

            var idRoll = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdRol").getAttribute("value");
            var idEstado = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdEstatus").getAttribute("value");
            console.log("getAttribute idRoll");
            console.log(idRoll);

            console.log("getAttribute idEstado");
            console.log(idEstado);


            var nombre = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdNombre").innerHTML;
            var apellido = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdApellido").innerHTML;
            var email = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdEmail").innerHTML;
            var id = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDUsuario").innerHTML;
            document.getElementById("txtENombre").value = nombre;
            document.getElementById("txtEApellido").value = apellido;
            document.getElementById("txtEEmail").value = email;
            document.getElementById("txtIDUser").value = id;
            console.log("ID ES:" + id);
            //console.log(document.getElementById("ddlRol"));

            let collection = document.getElementById("ddlRol");

            // using for/of iteration
            for (item of collection) {
                //console.log(item.innerHTML);

                if (idRoll == item.value) {
                    document.getElementById("ddlRol").selectedIndex = item.index;
                }

            }

            let collectionEstado = document.getElementById("ddlEstado");
            for (item of collectionEstado) {
                //console.log(item.innerHTML);

                if (idEstado == item.value) {
                    document.getElementById("ddlEstado").selectedIndex = item.index;
                }

            }
            //var ddloptions = document.getElementById("ddlRol").options;
            //console.log(ddloptions);
            //ddloptions.option.forEach(elementP => {
            //    console.log(elementP);
            //})

            //var list = document.getElementsByClassName("ddlEstado");
            //console.log(list);
            //for (let item of list) {
            //    console.log(item.id);
            //}
            //var strUser = e.options[e.selectedIndex].text;

        }
        $('#myModal').modal('show');

    }
    function EditUser() {
        var nombre = document.getElementById("txtENombre").value;
        var apellido = document.getElementById("txtEApellido").value;
        var email = document.getElementById("txtEEmail").value;
        var id = parseInt(document.getElementById("txtIDUser").value);
        var idroll = parseInt(document.getElementById("ddlRol").value);
        var status = parseInt(document.getElementById("ddlEstado").value);

        var reque = {
            "idUsuario": id, "nombre": nombre, "apellido": apellido, "user": "",
            "password": "", "email": email, "IDestado": status, "tempPass": 0, "IDRoll": idroll, "IDUsuarioAct": objUsuario.IDUsuario
        };
        $.ajax({
            url: "/Usuario/UPDATE",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                var ok = isObject(data);
                if (!ok) {
                    jsonResponse = JSON.parse(data);
                    if (jsonResponse.respuesta == 1) {



                        MapeoUsuario(jsonResponse.usuarios, jsonResponse.estado, jsonResponse.rol);
                        alert(jsonResponse.descripcion);
                    } else {
                        alert("Hubo un error, intente nuevamente");
                    }
                }
                else {
                    alert("No cuenta con permisos para esta operación");
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

    }
    function ADDUser() {
        var nombre = document.getElementById("txtANombre").value;
        var apellido = document.getElementById("txtAApellido").value;
        var email = document.getElementById("txtAEmail").value;
        var user = document.getElementById("txtAUsuario").value;
        var idroll = parseInt(document.getElementById("ddlRolADD").value);

        var reque = {
            "idUsuario": 0, "nombre": nombre, "apellido": apellido, "user": user,
            "password": "", "email": email, "idestado": 1, "tempPass": 0, "IDRoll": idroll, "IDUsuarioAct": objUsuario.IDUsuario
        };
        $.ajax({
            url: "/Usuario/ADD",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                var ok = isObject(data);
                if (!ok) {
                    jsonResponse = JSON.parse(data);
                    if (jsonResponse.respuesta == 1) {
                        document.getElementById("txtANombre").value = "";
                        document.getElementById("txtAApellido").value = "";
                        document.getElementById("txtAEmail").value = "";
                        document.getElementById("txtAUsuario").value = "";
                        MapeoUsuario(jsonResponse.usuarios, jsonResponse.estado, jsonResponse.rol);
                        alert(jsonResponse.descripcion);
                    } else {
                        alert(jsonResponse.descripcion);
                    }
                }
                else {
                    alert("No cuenta con permisos para esta operación");
                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

    }
    function ResetUser(parametro) {
        var rowID = parametro.closest("tr").rowIndex;
        var usuario = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdUser").innerHTML;
        var email = $("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdEmail").innerHTML;
        var id = parseInt($("#tblUsuario tbody tr")[parseInt(rowID) - 1].cells.namedItem("tdIDUsuario").innerHTML);
        var status = parseInt(document.getElementById("ddlEstado").value);
        var reque = {
            "idUsuario": id, "nombre": "", "apellido": "", "user": usuario, "password": "",
            "email": email, "idestado": status, "tempPass": 0, "IDUsuarioAct": objUsuario.IDUsuario
        };
        if (confirm('Esta seguro de reiniciar la contraseña del usuario?')) {
            $.ajax({
                url: "/Usuario/Reset",
                type: "post",
                dataType: "json",
                data: { "jsonR": JSON.stringify(reque) },
                success: function (data) {
                    var ok = isObject(data);
                    if (!ok) {
                        jsonResponse = JSON.parse(data);
                        if (jsonResponse.respuesta == 1) {
                            document.getElementById("txtANombre").value = "";
                            document.getElementById("txtAApellido").value = "";
                            document.getElementById("txtAEmail").value = "";
                            document.getElementById("txtAUsuario").value = "";
                            alert(jsonResponse.descripcion);
                        } else {
                            alert("Hubo un error, intente nuevamente");
                        }
                    }
                    else {
                        alert("No cuenta con permisos para esta operación");
                    }
                },
                error: function (error) {
                    console.log(`Error ${error}`);

                }
            });
        } else {
            // Do nothing!
            console.log('Thing was not saved to the database.');
        }
    }
    function CheckPermiso(lstPermiso) {
        var permisoCrear = lstPermiso.find(x => x.IDPermiso == 29);
        var permisoBorrar = lstPermiso.find(x => x.IDPermiso == 30);
        var permisoEditar = lstPermiso.find(x => x.IDPermiso == 31);
        var permisoVer = lstPermiso.find(x => x.IDPermiso == 32);
        var permisoCorreo = lstPermiso.find(x => x.IDPermiso == 33);
        console.log(lstPermiso);
        if (permisoVer.IDEstado == 1) {
            document.getElementById("divTabla").style.display = "inline";
        }
        if (permisoCrear.IDEstado == 1) {
            document.getElementById("btnADD").style.display = "inline";
        }
        if (permisoEditar.IDEstado == 1) {
            BEditar = true;
        }
        if (permisoBorrar.IDEstado == 1) {
            BEliminar = true;
        }
        if (permisoCorreo.IDEstado == 1) {
            BCorreo = true;
        }


    }
    function CheckParamsADD() {
        var nombre = document.getElementById("txtANombre").value;
        var apellido = document.getElementById("txtAApellido").value;
        var email = document.getElementById("txtAEmail").value;
        var usuario = document.getElementById("txtAUsuario").value;
        var rol = document.getElementById("ddlRolADD").value;
        let error_array = [];
        if (!nombre) {
            error_array.push('El campo "Nombre" no puede venir vacio');
        }
        if (!apellido) {
            error_array.push('El campo "Apellido" no puede venir vacio');
        }
        if (!email) {
            error_array.push('El campo "Email" no puede venir vacio');
        } else {
            var ok = ValidateEmail(email);
            if (!ok) {
                error_array.push('El campo "Email" no cumple con el formato correcto');
            }

        }
        if (!usuario) {
            error_array.push('El campo "Usuario" no puede venir vacio');
        }
        if (!rol) {
            error_array.push('El campo "Rol" no puede venir vacio');
        }

        if (error_array.length == 0) {
            ADDUser();
        } else {
            var text = "";
            error_array.forEach(function (elemento) {
                text = text + elemento + "\n";
            })
            alert("" + text);
        }


    }
    function CheckParamsEdit() {
        var nombre = document.getElementById("txtENombre").value;
        var apellido = document.getElementById("txtEApellido").value;
        var email = document.getElementById("txtEEmail").value;
        var rol = document.getElementById("ddlRol").value;
        let error_array = [];
        if (!nombre) {
            error_array.push('El campo "Nombre" no puede venir vacio');
        }
        if (!apellido) {
            error_array.push('El campo "Apellido" no puede venir vacio');
        }
        if (!email) {
            error_array.push('El campo "Email" no puede venir vacio');
        } else {
            var ok = ValidateEmail(email);
            if (!ok) {
                error_array.push('El campo "Email" no cumple con el formato correcto');
            }

        }
        if (!rol) {
            error_array.push('El campo "Rol" no puede venir vacio');
        }

        if (error_array.length == 0) {
            EditUser();
        } else {
            var text = "";
            error_array.forEach(function (elemento) {
                text = text + elemento + "\n";
            })
            alert("" + text);
        }


    }
    function ValidateEmail(_email) {
        var regName = /^(([^<>()[\]\\.,;:\s@@\"]+(\.[^<>()[\]\\.,;:\s@@\"]+)*)|(\".+\"))@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        if (regName.test(_email)) {
            return (true)
        }
        return (false)
    }
    //$(document).ready(function () {
    //    var reque = {
    //        "idUsuario": 0, "nombre": "", "apellido": "", "user": "", "password": "",
    //        "email": "", "idestado": 0, "tempPass": 0, "IDRoll": 0, "IDUsuarioAct": objUsuario.IDUsuario
    //    };
    //    $.ajax({
    //        url: "/Usuario/GET",
    //        type: "post",
    //        data: { "jsonR": JSON.stringify(reque) },
    //        dataType: "json",
    //        success: function (data) {
    //            console.log(typeof data);
    //            console.log("Data del response", data);
    //            jsonResponse = JSON.parse(data);

    //            if (jsonResponse.respuesta == 1) {
    //                CheckPermiso(objRoll);
    //                MapeoUsuario(jsonResponse.usuarios, jsonResponse.estado, jsonResponse.rol);


    //                jsonResponse.estado.forEach(function (element) {
    //                    var x = document.getElementById("ddlEstado");
    //                    var option = document.createElement("option");
    //                    option.text = element.nombre;
    //                    option.value = element.idEstado;
    //                    x.add(option);
    //                });;


    //                jsonResponse.rol.forEach(function (element) {
    //                    var x = document.getElementById("ddlRol");
    //                    var option = document.createElement("option");
    //                    option.text = element.nombre;
    //                    option.value = element.idRoll;
    //                    x.add(option);
    //                });;
    //                jsonResponse.rol.forEach(function (element) {
    //                    var y = document.getElementById("ddlRolADD");
    //                    var option = document.createElement("option");
    //                    option.text = element.nombre;
    //                    option.value = element.idRoll;
    //                    y.add(option);
    //                });;
    //                console.log(objRoll);
    //            } else {
    //                alert("Hubo un error, intente nuevamente");
    //            }

    //        },
    //        error: function (error) {
    //            console.log(`Error ${error}`);

    //        }
    //    });
    //});
</script>
