﻿@using Microsoft.AspNetCore.Http
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.css" rel="stylesheet">
<link rel="stylesheet" href="~/css/normalize.css">
<link rel="stylesheet" href="~/css/sweetalert2.css">
<link rel="stylesheet" href="~/css/material.min.css">
<link rel="stylesheet" href="~/css/material-design-iconic-font.min.css">
<link rel="stylesheet" href="~/css/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="~/css/main.css">

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">Corte</h3>
    </section>
    <div class="container">
        <div class="row">

            <div class="col">
                <div class="text-left">
                    <h6 class="font-weight-bold">Establecimiento</h6>
                </div>
                <div class="form-group row">
                    <div class="col-sm-12">
                        <select id="ddlEstablecimiento" class="form-control" onchange="myFunction()">
                            <option value="" disabled selected>Seleciona un establecimiento</option>>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container" >
        <div style="display:none;" id="divContainer">
            <div class="row" style="padding:1em 0em">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <p>IDCorte:</p>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <input type="text" class="form-control" id="txtIDCorte" readonly placeholder="">
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <p>Estado:</p>
                </div>
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <input type="text" class="form-control" id="txtEstado"  readonly placeholder="">
                </div>
            </div>
            <div class="row" style="padding:1em 0em">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
                    <p>Observaciones:</p>
                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <textarea class="form-control" id="txtObservaciones" rows="3"></textarea>
                </div>
            </div>
            <div class="row" style="padding:1em 0em">
                <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">

                </div>
                <div class="col-9 col-sm-9 col-md-9 col-lg-9 col-xl-9">
                    <button class="btn btn-secondary float-right" id="btn" onclick="btnFunction()"></button>
                </div>
            </div>
        </div>
    </div>
    


</section>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-bs4.min.js"></script>
<script>window.jQuery || document.write('<script src="~/js/jquery-1.11.2.min.js"><\/script>')</script>
<script src="~/js/material.min.js"></script>
<script src="~/js/sweetalert2.min.js"></script>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>

<script>
        $(document).ready(function () {
            var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
        jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
        var lstEstablecimiento = JSON.parse(jsonEstablecimiento);


        lstEstablecimiento.forEach(function (element) {
            var y = document.getElementById("ddlEstablecimiento");
            var option = document.createElement("option");
            option.text = element.IDEstablecimiento + "- " + element.NombreComercial;
            option.value = element.IDEstablecimiento;
            y.add(option);
        });;


        });
    function myFunction() {        
        const btn = document.getElementById("btn");
        btn.style.display = "inline";
        document.getElementById("txtIDCorte").value="";
        document.getElementById("txtObservaciones").value = "";
        document.getElementById("txtEstado").value = "";        
        var x = document.getElementById("ddlEstablecimiento").value;
        console.log("myFunction ddlEstablecimiento ", x);        
        if (x != "") {
            document.getElementById("divContainer").style.display = "inline";
            var reque = {
                "IDEstablecimiento": x
            };
            $.ajax({
                url: "/Cierre/GetCorte",
                type: "post",
                dataType: "json",
                data: { "jsonR": JSON.stringify(reque) },
                success: function (data) {
                    console.log("Funciono ADDRed", data);
                    console.log(typeof data);
                    jsonResponse = JSON.parse(data);
                    if (jsonResponse.Respuesta == 1) {                        
                        const btn = document.getElementById("btn");
                        btn.innerText = "Cerrar cierre";
                        document.getElementById("txtIDCorte").value = jsonResponse.Corte.IDCorte;
                        document.getElementById("txtObservaciones").value = jsonResponse.Corte.Observaciones;
                        document.getElementById("txtEstado").value = "ACTIVO";        

                    } else {                         
                        const btn = document.getElementById("btn");
                        btn.innerText = "Crear cierre";

                        alert(jsonResponse.Descripcion);

                    }
                },
                error: function (error) {
                    console.log(`Error ${error}`);

                }
            });
        }
        

    }

    function btnFunction() {
        var idcorte = document.getElementById("txtIDCorte").value;
        var idesta = document.getElementById("ddlEstablecimiento").value;
        var observaciones = document.getElementById("txtObservaciones").value;
        if (idcorte == "") {
            idcorte = 0;
        }
        var reque = {
            "IDEstablecimiento": idesta, "IDCorte": idcorte, "Observaciones": observaciones
        };
        $.ajax({
            url: "/Cierre/CloseAdd",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono ADDRed", data);
                console.log(typeof data);
                jsonResponse = JSON.parse(data);
                if (jsonResponse.Respuesta == 1) {
                    const btn = document.getElementById("btn");
                    btn.style.display = "none";
                    alert(jsonResponse.Descripcion);
                    

                } else {
                    const btn = document.getElementById("btn");
                    btn.style.display = "none";
                    alert(jsonResponse.Descripcion);

                }
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }

</script>