﻿@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.AspNetCore.Http
<div class="container-fluid">
    <div class="text-center">
        <h1 class="display-8">Rol</h1>
    </div>

    @*TITULOS HOME*@
    <div class="text-left">
        @*<h1 class="display-8">Home</h1>*@
    </div>
    <div class="row">
        <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">

            <div class="form-group row">
                <label class="col-sm-6 col-form-label">Nombre:</label>
                <div class="col-sm-12">
                    <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese nombre del rol">
                </div>
            </div>
            @*<button type="button" onclick="Update(1)" class="btn btn-warning btn-lg">Actualizar</button>*@
        </div>
    </div>
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
        <hr style="border:1px solid blue;">
    </div>

    <div class="text-left">
        <h1 class="display-5">Permisos</h1>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Producto</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAProd" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdProd" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEProd" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVProd" value=""> Visualizar</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Icono</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAIcon" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdIcon" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEIcon" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVIcon" value=""> Visualizar</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Beneficio</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkABen" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdBen" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEBen" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVBen" value=""> Visualizar</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Testimoniales</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkATesti" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdTesti" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkETesti" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVTesti" value=""> Visualizar</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Redes</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkARed" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdRed" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkERed" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVRed" value=""> Visualizar</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Configuracion</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAConfig" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdConfig" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEConfig" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVConfig" value=""> Visualizar</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Usuarios</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAUsua" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdUsua" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEUsua" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVUsua" value=""> Visualizar</label>
            <label class="checkbox-inline col-sm-6 col-md-6 col-lg-6 col-xl-6"><input type="checkbox" id="chkRUsua" value=""> Restableder contraseña</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Roles</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkARol" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdRol" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkERol" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVRol" value=""> Visualizar</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Categoria</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkACat" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdCat" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkECat" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVCat" value=""> Visualizar</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Footer</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAFoo" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdFoo" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEFoo" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVFoo" value=""> Visualizar</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Responsabilidad</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdRes" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVRes" value=""> Visualizar</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Titulos</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdTit" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVTit" value=""> Visualizar</label>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Banner</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdBan" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVBan" value=""> Visualizar</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Pagina Visanet</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdPV" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVPV" value=""> Visualizar</label>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Covid</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdCov" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVCov" value=""> Visualizar</label>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Promociones</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAPromo" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdPromo" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEPromo" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVPromo" value=""> Visualizar</label>
        </div>

    </div>
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">V-way</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAVway" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdVway" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEVway" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVVway" value=""> Visualizar</label>
        </div>
        @*<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <p class="h4" style="margin-top:1em">Promociones</p>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkAPromo" value=""> Agregar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEdPromo" value=""> Editar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkEPromo" value=""> Eliminar</label>
            <label class="checkbox-inline col-sm-4 col-md-4 col-lg-4 col-xl-4"><input type="checkbox" id="chkVPromo" value=""> Visualizar</label>
        </div>*@

    </div>
    <div id="divBA" style="display: none;">
        <button type="button" onclick="Agregar()" style="margin-top:1em" class="btn btn-warning btn-lg">Agregar</button>
    </div>
    <div id="divBE" style="display: none;">
        <button type="button" onclick="Update()" style="margin-top:1em" class="btn btn-warning btn-lg">Editar</button>
    </div>



</div>
<script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
<script>
    var lstComponente;
        var jsonUsuario = '@Context.Session.GetString("usuario")';
    jsonUsuario = jsonUsuario.replaceAll('&quot;', '"');

    var jsonRoll = '@Context.Session.GetString("rol")';
    jsonRoll = jsonRoll.replaceAll('&quot;', '"');

    var objUsuario = JSON.parse(jsonUsuario);
    var objRoll = JSON.parse(jsonRoll);
    $(document).ready(function () {     
        var id = '@Context.Session.GetString("id")';
        var jsonRequest = { "IDRoll": parseInt(id), "Nombre": "", "idUsuario": objUsuario.IDUsuario };
        console.log("IDRoll " + id);
        if (id > 0) {
            $.ajax({
                url: "/RolDetalle/GetBYID",
                type: "POST",
                data: { "jsonR": JSON.stringify(jsonRequest) },
                dataType: "json",           
                success: function (data) {
                    console.log("Funciono get Productos", data);
                    console.log(typeof data);
                    var response = JSON.parse(data);
                    if (response.respuesta == 1) {
                        lstComponente = response.permiso;
                        lstComponente.forEach(elementP => {
                            document.getElementById(elementP.componente).checked = false;
                            document.getElementById(elementP.componente).value = elementP.idPermiso;
                        });
                        response.detallePermiso.forEach(elementP => {
                            console.log("entro a     url:  / RolDetalle / GetBYID");
                            document.getElementById(elementP.componente).checked = CompararINTaBOOL(elementP.idEstado);
                            document.getElementById(elementP.componente).value = elementP.idPermiso;
                        });
                        document.getElementById("divBE").style.display = "inline";
                        var objRol = response.rol.find(x => x.idRoll == id);
                        document.getElementById("txtNombre").value = objRol.nombre;
                        console.log(lstComponente);

                    } else {
                        alert("No se encontraron coincidencias")
                    }

                },
                error: function () {

                }
            });

        } else {
            $.ajax({
                url: "/RolDetalle/GET",
                type: "POST",
                data: { "jsonR": JSON.stringify(jsonRequest) },
                dataType: "json",  
                success: function (data) {
                    console.log("Funciono get Productos", data);
                    console.log(typeof data);
                    var response = JSON.parse(data);
                    if (response.respuesta == 1) {
                        lstComponente = response.permiso;
                        response.permiso.forEach(elementP => {
                            console.log("entro a     url:  /RolDetalle/GET");
                            document.getElementById(elementP.componente).checked = true;
                            document.getElementById(elementP.componente).value = elementP.idPermiso;

                        });
                        document.getElementById("divBA").style.display = "inline";
                        console.log(lstComponente);

                    } else {
                        alert("No se encontraron coincidencias")
                    }

                },
                error: function () {

                }
            });
        }

    });



    function Agregar() {
        var nombre = document.getElementById("txtNombre").value;
        var Rol = { "IDRoll": 0, "Nombre": nombre, "idUsuario": objUsuario.IDUsuario };
        if (!nombre) {
            alert('El campo "Nombre" no puede venir vacio');
        } else {
            var RolPermiso = new Array();
            lstComponente.forEach(elementP => {
                var idpermiso = parseInt(document.getElementById(elementP.componente).value);
                var idestado = CompararBOOlaINT(document.getElementById(elementP.componente).checked);
                var objRP = { IDRollPermiso: 0, IDRoll: 0, IDPermiso: idpermiso, IDEstado: idestado };
                RolPermiso.push(objRP);

            });
            var mainjson = { Rol, RolPermiso }
            $.ajax({
                url: "/RolDetalle/ADD",
                type: "post",
                dataType: "json",
                data: { "jsonR": JSON.stringify(mainjson) },
                success: function (data) {
                    console.log(typeof data);
                    console.log("Data del response", data);
                    jsonResponse = JSON.parse(data);

                    if (jsonResponse.respuesta == 1) {
                        //document.getElementById("txtNombre").value = "";
                        alert(jsonResponse.descripcion);
                    } else {
                        alert(jsonResponse.descripcion);
                    }

                },
                error: function (error) {
                    console.log(`Error ${error}`);

                }
            });

        }


    }
    function Update() {
        var id = '@Context.Session.GetString("id")';
        var nombre = document.getElementById("txtNombre").value;
        var Rol = { IDRoll: parseInt(id), Nombre: nombre, "idUsuario": objUsuario.IDUsuario };
        var RolPermiso = new Array();
        lstComponente.forEach(elementP => {
            var idpermiso = parseInt(document.getElementById(elementP.componente).value);
            var idestado = CompararBOOlaINT(document.getElementById(elementP.componente).checked);
            var objRP = { IDRollPermiso: 0, IDRoll: parseInt(id), IDPermiso: idpermiso, IDEstado: idestado };
            RolPermiso.push(objRP);

        });
        var mainjson = { Rol, RolPermiso }
        $.ajax({
            url: "/RolDetalle/UPDATE",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(mainjson) },
            success: function (data) {
                console.log(typeof data);
                console.log("Data del response", data);
                jsonResponse = JSON.parse(data);

                if (jsonResponse.respuesta == 1) {
                    //document.getElementById("txtNombre").value = "";
                    alert(jsonResponse.descripcion);
                } else {
                    alert(jsonResponse.descripcion);
                }

            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });

    }
    function CompararBOOlaINT(bool) {
        var valor;
        if (bool == true) {
            valor = 1;
        } else {
            valor = 0;
        }
        return valor;
    }
    function CompararINTaBOOL(num) {
        var valor;
        if (num == 1) {
            valor = true;
        } else {
            valor = false;
        }
        return valor;
    }
</script>