﻿
@using Microsoft.AspNetCore.Http

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">REPORTE VENTAS</h3>
    </section>
    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Establecimientos:</label>
            <select id="ddlEstablecimiento" class="form-control" onchange="myFunction()">
                <option value="0" selected>Seleciona un establecimiento</option>>
            </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Corte:</label>
            <input type="text" class="form-control" id="txtIDCorte" placeholder="Ingrese IDCorte">
        </div>

    </div>
    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Fecha inicial:</label>
            <input type="text" class="form-control" id="txtFechaIni" placeholder="Ingrese su fecha inicial">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Fecha final:</label>
            <input type="text" class="form-control" id="txtFechaFin" placeholder="Ingrese se fecha final">
        </div>

    </div>
    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <button class="btn btn-secondary float-right" id="button" onclick="FiltersAdded()">Aplicar filtros</button>
        </div>

    </div>

    <div id="divTabla" style="padding: 0em 2em">
        <table id="tblRepProd" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
            <thead>
                <tr>
                    <th style="width:12%">Fecha de emision</th>
                    <th style="width:12%">Empresa</th>
                    <th style="width:12%">Establecimiento</th>
                    <th style="width:12%">Corte</th>
                    <th style="width:12%">Monto IVA</th>
                    <th style="width:12%">Monto</th>
                    <th style="width:12%">NIT</th>
                    <th style="width:13%">Receptor</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    $(document).ready(function () {
          var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
        jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
        var lstEstablecimiento = JSON.parse(jsonEstablecimiento);


        lstEstablecimiento.forEach(function (element) {
            var y = document.getElementById("ddlEstablecimiento");
            var option = document.createElement("option");
            option.text = element.IDEstablecimiento + "- " + element.NombreComercial;
            option.value = element.IDEstablecimiento;
            y.add(option);
        });

        $('#tblRepProd').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        });
        MapeoVentas();

    });
    function MapeoVentas() {

        var reque = {
            "IDCliente": 0
        };
        $.ajax({
            url: "/Reportes/LoadRepVenta",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono cliente", data);
                console.log(typeof data);
                var cat = JSON.parse(data);

                $('#tblRepProd tbody tr').remove();

                cat.forEach(elementP => {
                    var date = Date.parse(elementP.FechaEmision);
                    console.log(date);
                    console.log(typeof (elementP.FechaCreacion));

                    $("<tr><td>" + elementP.FechaEmision.substring(0, 10) + "</td><td>" + elementP.IDEmpresa +
                        "</td><td>" + elementP.IDEstablecimiento +
                        "</td><td>" + elementP.IDCorte + "</td><td>" + elementP.MontoIVA +
                        "</td><td>" + elementP.Monto + "</td><td>" + elementP.NIT + "</td><td>" + elementP.Receptor + "</td></tr> ").appendTo("#tblRepProd")

                })
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
    function FiltersAdded() {
          //filter.IDEstablecimiento =0;
            //filter.FechaFin = DateTime.MinValue;
            //filter.FechaIni = DateTime.MinValue;
            //filter.IDProveedor=0;
            //filter.IDProducto = "";
        $('#tblRepProd tbody tr').remove();
        var idesta = document.getElementById("ddlEstablecimiento").value;
        var idcorte = document.getElementById("txtIDCorte").value;
        var fechafin = document.getElementById("txtFechaFin").value;
        var fechaini = document.getElementById("txtFechaIni").value;

        var idc = 0;
 
        console.log("ddlEstablecimiento ", idesta);
        console.log("idcorte ", idcorte);
        //if (!idesta) {
        //    ides=parseInt(idesta)
        //}
        if (idcorte == null) {
            idc = 0
        } else {
            idc = parseInt(idcorte)
        }
        var reque = {
            "IDEstablecimiento": idesta, "FechaFin": fechafin, "FechaIni": fechaini, "IDProveedor": 0, "IDProducto": "", "IDCorte": idc
        };
        $.ajax({
            url: "/Reportes/LoadRepVentaByFilters",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono cliente", data);
                console.log(typeof data);
                var cat = JSON.parse(data);

                //$('#tblRepProd tbody tr').remove();

                cat.forEach(elementP => {
                    var date = Date.parse(elementP.FechaEmision);
                    console.log(date);
                    console.log(typeof (elementP.FechaCreacion));

                    $("<tr><td>" + elementP.FechaEmision.substring(0, 10) + "</td><td>" + elementP.IDEmpresa +
                        "</td><td>" + elementP.IDEstablecimiento +
                        "</td><td>" + elementP.IDCorte + "</td><td>" + elementP.MontoIVA +
                        "</td><td>" + elementP.Monto + "</td><td>" + elementP.NIT + "</td><td>" + elementP.Receptor + "</td></tr> ").appendTo("#tblRepProd")

                })
                //$('#tblRepProd').DataTable({
                //    dom: 'Bfrtip',
                //    buttons: [
                //        'excel', 'pdf',
                //        {
                //            extend: 'print',
                //            text: 'Imprimir',
                //            autoPrint: false
                //        }
                //    ]
                //});
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
</script>