﻿
@using Microsoft.AspNetCore.Http

<section class="full-width pageContent">
    <section class="full-width text-center" style="padding: 10px 0;">
        <h3 class="text-center tittles">REPORTE PROVEEDORES</h3>
    </section>

    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Establecimientos:</label>
            <select id="ddlEstablecimiento" class="form-control" onchange="myFunction()">
                <option value="0" selected>Seleciona un establecimiento</option>>
            </select>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Corte:</label>
            <input type="text" class="form-control" id="txtIDCorte" placeholder="Ingrese IDCorte">
        </div>

    </div>
    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Fecha inicial:</label>
            <input type="text" class="form-control" id="txtFechaIni" placeholder="Ingrese su fecha inicial">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Fecha final:</label>
            <input type="text" class="form-control" id="txtFechaFin" placeholder="Ingrese se fecha final">
        </div>

    </div>

    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <label class="col-sm-6 col-form-label">Codigo Proveedor:</label>
            <input type="text" class="form-control" id="txtIDProveedor" placeholder="Ingrese Proveedor">
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <!--label class="col-sm-6 col-form-label">Producto:</label>
    <input type="text" class="form-control" id="txtIDProducto" placeholder="Ingrese Producto">-->
        </div>
    </div>

    <div class="row" style="padding:1em 2em">
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">

        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
            <button class="btn btn-secondary float-right" id="button" onclick="FiltersAdded()">Aplicar filtros</button>
        </div>

    </div>

    <div id="divTabla" style="padding: 0em 2em">
        <table id="tblRepProd" class="table table-striped table-bordered dt-responsive" style="table-layout:fixed;width:100%">
            <thead>
                <tr>
                    <th style="width:10%">Fecha de emision</th>
                    <th style="width:10%">Empresa</th>
                    <th style="width:10%">Establecimiento</th>
                    <th style="width:10%">Corte</th>
                    <th style="width:10%">Codigo producto</th>
                    <th style="width:10%">Producto</th>
                    <th style="width:10%">Cantidad</th>
                    <th style="width:10%">Codigo proveedor</th>
                    <th style="width:10%">Proveedor</th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
    </div>
</section>
<script src="~/js/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="~/js/main.js"></script>
<script>
    $(document).ready(function () {
        var jsonEstablecimiento = '@Context.Session.GetString("establecimientos")';
        jsonEstablecimiento = jsonEstablecimiento.replaceAll('&quot;', '"');
        var lstEstablecimiento = JSON.parse(jsonEstablecimiento);


        lstEstablecimiento.forEach(function (element) {
            var y = document.getElementById("ddlEstablecimiento");
            var option = document.createElement("option");
            option.text = element.IDEstablecimiento + "- " + element.NombreComercial;
            option.value = element.IDEstablecimiento;
            y.add(option);
        });

        $('#tblRepProd').DataTable({
            dom: 'Bfrtip',
            buttons: [
                'excel', 'pdf',
                {
                    extend: 'print',
                    text: 'Imprimir',
                    autoPrint: false
                }
            ]
        });

        MapeoProveedor();

    });
    function MapeoProveedor() {

        var reque = {
            "IDCorte": 0, "IDEstablecimiento": "", "FechaFin": "", "FechaIni": "", "IDProveedor": "0","IDProducto":""
        };
        $.ajax({
            url: "/Reportes/LoadRepProveedor",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono cliente", data);
                console.log(typeof data);
                var cat = JSON.parse(data);

                $('#tblRepProd tbody tr').remove();

                cat.forEach(elementP => {

                    $("<tr><td>" + elementP.FechaApertura.substring(0, 10) + "</td><td>" + elementP.IDEmpresa +
                        "</td><td>" + elementP.IDEstablecimiento +
                        "</td><td>" + elementP.IDCorte + "</td><td>" + elementP.IDProducto +
                        "</td><td>" + elementP.Nombre + "</td><td>" + elementP.Cantidad +
                        "</td><td>" + elementP.IDProveedor + "</td><td>" + elementP.Proveedor + "</td></tr> ").appendTo("#tblRepProd");

                })
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }

    function FiltersAdded() {
        //filter.IDEstablecimiento =0;
        //filter.FechaFin = DateTime.MinValue;
        //filter.FechaIni = DateTime.MinValue;
        //filter.IDProveedor=0;
        //filter.IDProducto = "";
        $('#tblRepProd tbody tr').remove();
        var idesta = document.getElementById("ddlEstablecimiento").value;
        var idcorte = document.getElementById("txtIDCorte").value;
        var idproveedor = document.getElementById("txtIDProveedor").value;
        var fechafin = document.getElementById("txtFechaFin").value;
        var fechaini = document.getElementById("txtFechaIni").value;

        var idc = 0;

        console.log("ddlEstablecimiento ", idesta);
        console.log("idcorte ", idcorte);
        //if (!idesta) {
        //    ides=parseInt(idesta)
        //}
        if (idcorte == null) {
            idc = 0
        } else {
            idc = parseInt(idcorte)
        }

        if (idproveedor == null) {
            idp = 0
        } else {
            idp = parseInt(idproveedor)
        }
        var reque = {
            "IDEstablecimiento": idesta, "FechaFin": fechafin, "FechaIni": fechaini, "IDProveedor": idp, "IDProducto": "", "IDCorte": idc
        };
        $.ajax({
            url: "/Reportes/LoadRepProveedorByFilters",
            type: "post",
            dataType: "json",
            data: { "jsonR": JSON.stringify(reque) },
            success: function (data) {
                console.log("Funciono cliente", data);
                console.log(typeof data);
                var cat = JSON.parse(data);

                $('#tblRepProd tbody tr').remove();

                cat.forEach(elementP => {
                    var date = Date.parse(elementP.FechaEmision);
                    console.log(date);
                    console.log(typeof (elementP.FechaCreacion));

                    $("<tr><td>" + elementP.FechaApertura.substring(0, 10) + "</td><td>" + elementP.IDEmpresa +
                        "</td><td>" + elementP.IDEstablecimiento +
                        "</td><td>" + elementP.IDCorte + "</td><td>" + elementP.IDProducto +
                        "</td><td>" + elementP.Nombre + "</td><td>" + elementP.Cantidad +
                        "</td><td>" + elementP.IDProveedor + "</td><td>" + elementP.Proveedor + "</td></tr> ").appendTo("#tblRepProd");

                })
            },
            error: function (error) {
                console.log(`Error ${error}`);

            }
        });
    }
</script>